[2019-10-18 20:51] mikestecker opened #1 "Work with Docker"
Does this work with a Docker install of HomeBridge (using `oznu/homebridge`)? I'm getting the following error and I'm not sure if it's because of the docker install or not:

[code]

[2019-10-19 13:49] beele commented on #1
I found your issue on the other github issue tracker (https://github.com/oznu/docker-homebridge/issues/239) I'll change it so typescript is in the regular dependencies

[2019-10-19 15:02] beele commented on #1
The newer 0.0.3 version on npm has the typescript dependency no longer under dev dependencies but under the regular ones.

[2019-10-19 19:31] MitchJackson94 opened #2 "The requested platform 'Unifi-Protect-Camera-Motion' was not registered by any plugin"
Hi, I'm getting the following errors when starting homebridge after installing and updating my config.

`0|homebridge  | Error: The requested platform 'Unifi-Protect-Camera-Motion' was not registered by any plugin.
0|homebridge  |     at API.platform (/usr/local/lib/node_modules/homebridge/lib/api.js:134:13)
0|homebridge  |     at Server._loadPlatforms (/usr/local/lib/node_modules/homebridge/lib/s

[2019-10-19 20:21] mikestecker commented on #1
Everything seems to be working now. Thanks!

[2019-10-19 20:21] #1 closed

[2019-10-19 20:28] beele commented on #2
Looks liks the tensorflow.js binding arent generated/working correctly.
Have no experience with freeNas server, but my best guess would be that tensorflow.js might not be supported on that platform?

==> Cannot find module '/usr/local/lib/node_modules/homebridge-unifi-protect-camera-motion/node_modules/@tensorflow/tfjs-node/lib/napi-v4/tfjs_binding.node'

[2019-10-19 20:34] MitchJackson94 commented on #2
Oh okay that makes sense now I have been playing around with it and tried to install tensorflow.js on its own and I get Unsupported platform so looks like it’s just not supported on FreeNAS

[2019-10-19 20:34] #2 closed

[2019-10-21 16:39] mikestecker opened #3 "Camera's not streaming"
Thanks for the help getting the plugin installed for me with Docker. Now I can't seem to get the cameras to stream, they keep erring with `FFMpeg error 1`

Here's my current config:

[code]

I was a bit confused however with the `videoConfig`. All you mention really is to refer to the ffmpeg docs, which I used to use that plugin and had it previously working. Do I need to put in the array with con

[2019-10-21 16:44] mikestecker commented on #3
Nevermind... Just realized your note at the bottom about streams above 720p. I have updated my config to use `"maxWidth": 1024,  "maxHeight": 576,` and the stream now works. I'll subscribe to the repo and wait for you to get higher quality streams working.

[2019-10-21 16:44] #3 closed

[2019-10-29 14:26] loop2 opened #4 "No streaming"
HI, great implementation but i can't see the streaming RTSP.
I have set the port of RTSP 7447 and reduce the max resolution to 640x360 but i only see the updated snapshot but not the streaming...
homebridge is installed on macOS, any idea?
thanks

[2019-11-08 04:59] technstuff commented on #4
Same Issue hear

[Unifi protect cameras & motion sensors] Start streaming video from Front yard with 640x360@132kBit
[11/7/2019, 8:55:54 PM] [Unifi protect cameras & motion sensors] Start streaming video from Front yard with 640x360@132kBit
[11/7/2019, 8:55:58 PM] [Unifi protect cameras & motion sensors] ERROR: FFmpeg exited with code 1
[11/7/2019, 8:55:58 PM] [Unifi protect cameras & motion senso

[2019-11-18 09:01] beele commented on #4
Make sure that the RTSP stream is working, test it with VLC or quicktime player. If that works make sure FFmpeg is working correctly.

Try setting the stream quality exactly as shown in the image in the readme.

[2019-11-18 09:05] technstuff commented on #4
using Homebridge Camera Ffmpeg with no issues. So the rtsp and ffmpg is working

[2019-11-18 09:13] beele commented on #4
To debug a little:

- Go to where the plugin installed and open the index.js file with a command line editor (vim/nano/...)
- Under line 73 add "self.log(videoConfigCopy.source);" without the quotes.
- Save the file and restart homebridge
- If this prints the correct stream URL we can rule that out as the culprit.

- Go into the ffmpeg folder under src and open ffmpeg.js
- Save the file and restar

[2019-11-19 06:19] tslamparter opened #5 "Failed Install on RPi Stretch Lite"
I keep getting this error when trying to install on RPi 3b+ and node.js 11.15.0. I'm a noob so I'm not sure what needs to be done.

pi@raspberrypi2:~ $ sudo npm install homebridge-unifi-protect-camera-motion -g --unsafe-perm=true

@tensorflow/tfjs-node@1.3.2 install /usr/lib/node_modules/homebridge-unifi-protect-camera-motion/node_modules/@tensorflow/tfjs-node
node scripts/install.js

CPU-linux-1.

[2019-11-20 02:39] ryanschmidt commented on #5
I'm having the same issue. It's unrelated to this plugin and I'm finding several others struggling to install `canvas`. Let me know if you have any luck. I'll be trying again soon and will report back once I figure it out.

[2019-11-20 04:28] kinektech-au commented on #5
Having trouble also, not sure if related but the link to Canvas V 2.6.0 returns a 404 file not found. https://github.com/node-gfx/node-canvas-prebuilt/releases/ shows a minor update to 2.6.1

[2019-11-24 14:44] kwalkington commented on #5
I'm having same issue.

[2019-11-25 11:43] nathsea commented on #5
yep me as well ...

[2019-11-30 00:05] kinektech-au commented on #5
@beele  Are you able to chime in on the above?

[2019-11-30 07:20] beele commented on #5
Sorry I only seem to get email notifications when someone mentions me, not for new issues.

Could you try running the following command before installing this plugin with NPM

`sudo apt-get update && sudo apt-get install build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev`

These are the required dependencies to build node-canvas from source. It wants to compile it fr

[2019-11-30 07:33] vlasinus commented on #5
@beele
installed no problem
all ok

[2019-11-30 15:37] tslamparter commented on #5
@beele
Mine installed as well, but I get this error when homebridge starts up and repeatedly shuts down.
`-- Logs begin at Sat 2019-11-30 09:20:27 CST. --
Nov 30 09:29:53 raspberrypi homebridge[1128]: [11/30/2019, 09:29:53] [Config] Homebridge Config UI X v4.6.4 is listening on :: port 8080
Nov 30 09:29:53 raspberrypi systemd[1]: homebridge.service: Main process exited, code=exited, status=143/n/a

[2019-12-02 07:20] beele commented on #5
If that the full stacktrace, because I don't see anything related to my plugin in that logging...

[2019-12-02 07:24] beele commented on #5
Can you give me more information about your os/pi.
The issue seems to be with tensorflowjs:
`Error: /usr/lib/node_modules/homebridge-unifi-protect-camera-motion/node_modules/@tensorflow/tfjs-node/lib/napi-v4/tfjs_binding.node: wrong ELF class:`

Delete the @tensorflow folder in the node_module folder and try installing the plugin again.

[2019-12-02 07:52] beele commented on #4
@loop2 @technstuff have you tested this with the additions I said for debugging? Otherwise I'm going to close this issue.

[2019-12-02 14:01] vlasinus commented on #5
How to see the log of your plugin?

[2019-12-03 05:18] tslamparter commented on #5
@beele I have homebridge installed according to the instructions on [homebridge github](https://github.com/nfarina/homebridge/wiki/Install-Homebridge-on-Raspbian). Stretch Lite RPi 3b+. I tried deleting the tensorflow folder and files within and reinstalling, but I end up with the same error.

[2019-12-06 02:03] tslamparter commented on #5
@beele I got it to work when homebridge is not set up as a service user. I'm now just using a normal user and pm2 for starting homebridge on startup.

[2019-12-06 02:03] #5 closed

[2019-12-06 02:28] tslamparter commented on #4
@beele I'm having this issue now that I fixed the other issue. I modified the files as you suggested and get this at the end:
`Successfully opened the file.
Parsing a group of options: output url -.
Applying option map (set input stream mapping) with argument 0:1.
Applying option vcodec (force video codec ('copy' to copy stream)) with argument h264.
Successfully parsed a group of options.
Opening

[2019-12-16 08:25] beele commented on #4
For more information, what camera's do you have? @tslamparter

[2019-12-16 16:09] tslamparter commented on #4
@beele it turns out I'm a dingus. When I copied and pasted your config example, I forgot to edit the "vcodec" to h264 OR h264_omx. It works now. I'm not sure if this is the same problem the other users were having, but it gave me the same error as them. Thanks for all the help and I'm loving this version unifi homebridge. Also I have regular G3s.

[2019-12-21 14:30] alezanott opened #6 "Issue installing plugin"
@beele
I'm currently running homebridge on HOOBS.
I've tried to install the version 0.0.6 but got this error:
npm WARN tar ENOENT: no such file or directory, open '/usr/local/lib/node_modules/.staging/homebridge-unifi-protect-camera-motion-5fbbbe69/resources/models/coco/mobilenet_v2/group1-shard3of17'
npm ERR! cb() never called!

npm ERR! This is an error with npm itself. Please report this error

[2020-01-04 15:47] beele commented on #6
On what hardware are you trying to run this?

[2020-01-04 15:51] Alezx22 commented on #6
@beele I'm running it on a Raspberry model 3 B+. OS: HOOBS

[2020-01-07 15:54] bls8486 opened #7 "After installing, homebridge fails to start"
Running homebridge as a service on ubuntu 18.04 on small form factor PC.  Only other plugin is homebridge-config-ui-x.  After install, get same core dump when starting homebridge.  Tried with valid config and with no config defining homebridge-unifi-protect-motion-sensors.  Install seems to go fine even time.

Jan 07 09:54:47 homebridge-01b systemd[1]: This usually indicates unclean termination of

[2020-01-07 15:54] bls8486 commented on #7
@beele.  Sorry, forgot to tag you.

[2020-01-08 06:21] beele commented on #7
Config?
Node version?

[2020-01-08 06:23] beele commented on #6
Have you installed the extra dependencies for rbpi?
See: https://github.com/Automattic/node-canvas#compiling as described in the readme

[2020-01-08 06:24] beele commented on #4
@technstuff @loop2 Have you guys been able to get this fixed?
If not check your config to make sure the config is adjusted so "vcodec" is set to h264 OR h264_omx

[2020-01-08 14:48] bls8486 commented on #7
This is from a fresh install on a new homebridge server
Node V: 12.14.0

fails with a base config with only config-ui-x defined
`{

    "bridge": {
        "name": "Homebridge",
        "username": "xxxxxxxxx",
        "port": xxxxxx,
        "pin": "xxxxxxxxxx"
    },
    "accessories": [],
    "platforms": [
        {
            "name": "Config",
            "port": 8080,
            "auth": "f

[2020-01-09 08:23] beele commented on #7
I see you are using node 12, I've only tested this with the node versions mentioned in the readme (10.x.x and 11.x.x)
Please try with a different node version and see if it works

[2020-01-11 16:47] bls8486 commented on #7
I uninstalled homebridge and all plugins, then reverted to 10.x.x.  I was seeing N-API issues after that. I decided to remove the new plugin go with my old configuration.  Thanks for your help.  I may spin up another server to test this in the future.

[2020-01-19 17:45] dVIAN13 opened #8 "Audio Support?"
nice work @beele ! I was wondering if you had an estimate on when you think audio will be supported?

[2020-01-20 08:11] beele commented on #8
I think if you build ffmpeg with the following instructions that audio should just work: https://gist.github.com/milankragujevic/bd38d796ea6eea27f229216d75d6c202

I haven't tested this myself yet though.

[2020-01-22 22:57] alezanott commented on #6
@beele I've installed them. I get this error when running the whole configuration.
[code]

[2020-01-23 11:49] beele commented on #6
For some reason the tfjs-node is not installed (or not installed correctly)
Maybe you can try installing the dependency manually so it is available under the path it is looking for.
Could this be related to hoobs?

[2020-01-24 12:35] #4 closed

[2020-01-29 13:39] beele commented on #8
The newest version supports audio (see the updated readme)

[2020-01-29 13:39] #8 closed

[2020-01-29 13:40] beele commented on #6
@alezanott  Can you try by removing and reinstalling the plugin. I've made some updates in the latest version that should fix these issues.

[2020-01-29 13:42] beele commented on #7
@bls8486 Node 12 should now work correctly. I've made some updates in the latest version of the plugin that should fix these issues.

[2020-01-31 12:51] mahuch commented on #4
Same problem here. Homebridge is installed on macOS.
I think the problem is FFmpeg on OS X.

How do I install it correctly?

[2020-02-05 01:50] jonbloom opened #9 "Support UniFi OS (UDM Pro on versions >1.6)"
The latest version of the UDM Pro firmware proxies all requests to controllers, allowing SSO to all controllers hosted on it. It is no longer possible to authenticate directly to Protect.

Per UI-taka on the Ubiquiti discord:

From what I've seen, UniFi OS will be coming to the Cloud Key Gen 2 Plus, as well as the UniFi NVR, so this will be a hurdle that will have to be crossed.

[2020-02-05 09:57] alezanott commented on #6
@beele Thank you for the support! I've tried before a manual install of dependencies but nothing changed. I've reinstalled the HOOBS OS on my rpi, then installed the fresh version 0.0.9 but still with some errors. I think that something is missing on HOOBS, or maybe some directories cannot talk to each other...
`> canvas@2.6.1 install /home/hoobs/.hoobs/node_modules/canvas

node-pre-gyp
WARN Using

[2020-02-05 10:41] beele commented on #6
I've recently upgraded to a pi4. I'll try to install hoobs on my old pi3 and see why this does not work.
Give me a few days ;)

[2020-02-05 11:42] beele commented on #9
I'll keep an eye on this. I only have a cloud key gen 2+
So I'll have to wait to implement and test this till it rolls out on that device.
Others are free to already test this with the UDM Pro and open a pull request.

[2020-02-05 22:59] BadgerBadgerAndFox opened #10 "Shared library not found - plugin will not load"
@beele trying to move to the new plugin, running in oznu/homebridge docker container on Synology (Intel). Install seems to work but looks like a dependency is missing post install for tensorflow. This occurs post install on restart.

[2/6/2020, 9:44:40 AM] ====================
[2/6/2020, 9:44:40 AM] ERROR LOADING PLUGIN homebridge-unifi-protect-camera-motion:
[2/6/2020, 9:44:40 AM] Error: Error lo

[2020-02-06 00:37] nicgraner commented on #6
Can also confirm this is happening, not just on HOOBs, but also just base raspbian for me as well as another homebridge instance I was running in docker on unraid, however I think that was an issue it was having with FFMPEG more than this plugin. happy to give any info needed! Thanks for your work :)

[2020-02-07 08:44] beele commented on #6
@alezanott I see that hoobs doesn't install homebridge as a global package (and my install instructions do install the plugin globally). This could be an issue.
Try this:
- cd into /home/hoobs/.hoobs/node_modules/
- Try installing the plugin so that it appears under /home/hoobs/.hoobs/node_modules/
==> npm install homebridge-unifi-protect-camera-motion --unsafe-perm=true (add sudo if an error occu

[2020-02-07 09:41] alezanott commented on #6
@beele thank you for the support! I've just tried installing it under that directory but I got the same output error. Tried even installing it with sudo but nothing changed as expected.

[2020-02-07 12:43] beele commented on #6
I tried this on my PI3 with a fresh Hoobs install:
- Hoobs zip (latest version) to SD card via etcher
- Booted pi and set up wireless connection via the hoobs hotspot
- SSH'ed into the pi and installed the node-canvas dependencies manually (sudo apt-get install build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev)
- made and installed ffmpeg (use the sh script from the

[2020-02-07 13:42] ntableman opened #11 "Video Issues"
Using a docker container with FFMPEG: oznu/homebridge

1 - enabling audio causes ffmpeg exit code 1 and nothing happens. Is there a way I can debug this?

2 - video generally doesnt seem to work: it sends a still every 15-30 seconds. I have tinkered with bitrate/fps/size to see if I can speed this up, but no luck.

homebridge is on an ubuntu full intel (no rpi, diskstation, etc...) on gigabit ethe

[2020-02-07 13:55] ntableman commented on #11
fixed 2, needed to remove all the throttling parameters

[2020-02-07 18:28] beele commented on #11
Have you compiled FFMpeg with support for audio?

[2020-02-07 18:54] nicgraner opened #12 "HOOBS install recognizes cameras, but they don't appear in Homekit"
[code]

[2020-02-07 19:12] beele commented on #12
You need to add the camera's manually. They will not appear by themselves.
In the home app:
- Click the top right (+) icon
- Select 'Add Accessory'
- Select 'I Don't Have a Code or Cannot Scan'
- Your camera's will appear, select the one you want to add
- Repeat the steps above for all the camera's you want in to have in the home app

[2020-02-07 19:20] beele commented on #10
What command did you use to install the plugin?
What version of the plugin have you installed?

[2020-02-07 19:26] #7 closed

[2020-02-07 20:34] jonbloom commented on #9
@beele I forker the other Protect homebridge plugin and updated it to support UniFi OS here: https://github.com/jonbloom/homebridge-unifi-protect2

It retails backwards compatibility with the Cloud Key Gen2 Plus, too.

[2020-02-08 09:18] beele commented on #9
@jonbloom Thx, I'll have a look and will implement the changes here

[2020-02-09 15:00] alezanott commented on #6
@beele Thank you! It did work great! Now the only problem is that on my home app the motion sensor don't show up. I we got right now 5 uvc g3 and 1 flex cameras connected to my protect, none of this appears as a motion sensor on the home app (I remember that on another previous version of the plugin they worked as motion sensor).
I can see from the log of HOOBS that the motion sensor register many

[2020-02-09 18:41] beele commented on #6
@alezanott The camera contains the motion sensor. Since ios13 these are grouped.
If you open the camera view (so the livestream will start), click on the settings icon and pick "Show ass Separate Tiles". The motion sensor shoud then show up as a seprate tile in the Home app.

[2020-02-09 19:37] jonbloom commented on #9
Sounds good! I just made a PR to the repo that I forked, so that should go in. Let me know if you have any questions on how I implemented the changes. It should be pretty easy.

I'd have made a PR here but I'm not super familiar with TypeScript.

[2020-02-09 23:40] BadgerBadgerAndFox commented on #10
Installed using "sudo npm install homebridge-unifi-protect-camera-motion -g --unsafe-perm=true"
Version is homebridge-unifi-protect-camera-motion v0.0.9

[2020-02-10 00:00] BadgerBadgerAndFox commented on #10
install output below:

/homebridge # npm install --save homebridge-unifi-protect-camera-motion@latest -g --unsafe-perm=true

CPU-linux-1.2.11.tar.gz
* Downloading libtensorflow
[==============================] 4024309/bps 100% 0.0s
* Building TensorFlow Node.js bindings

node-pre-gyp WARN Using request for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://github.com/nod

[2020-02-10 06:09] beele commented on #10
I think you are running the alpine variant of the docker image. I think that might be the issue. The ld-linux-x86-64.so.2 file is missing in alpine and is needed for tensorflow to run.
You could try these commands below but they might not (fully) solve the problem.
[code]
as libc6-compat contains the missing file: https://pkgs.alpinelinux.org/contents?file=ld-linux-*&path=&name=&branch=&repo=main&

[2020-02-10 09:33] alezanott commented on #6
@beele It did work for the separation, but still no activation of the motion sensor. I've even tried with a motion score of 30, but still nothing...

[2020-02-10 15:28] beele commented on #6
@alezanott Ok. are you using the regular or enhanced (tensorflow based) motion detection?

[2020-02-10 16:08] alezanott commented on #6
@beele just the regular one. I've disabled the tensorflow based one

[2020-02-10 16:15] beele commented on #6
@alezanott Hmm weird, I checked the code but cannot see an issue directly with that flow (since it's much simpler). Could you post some logs from homebridge?

[2020-02-10 19:32] nicgraner commented on #6
FWIW I am also having similar issues (the Motion event is triggered in the log, but never getting any sort of notification on the homekit side of things) seen in code here:
[code]

[2020-02-10 20:11] beele commented on #6
I've switched back to the basic motion events on my setup and they're working.

Make sure you have notifications for cameras/motion sensors enabled in the main Home App settings (via the house icon in the Home app)
Also make sure you have notifications enabled in the settings for each camera. (via opening the camera and going to it's settings)

[2020-02-10 21:14] alezanott commented on #6
@beele I've checked on my home app and all the notifications are enabled correctly.
Here I post a log of:
`[Homebridge] [2/10/2020, 21:43:13] [Unifi protect cameras & motion sensors] !!!! Unifi Motion event (5e41c06101824d03e700cfe2) rejected for camera: Entrata Porta - Score: 0 !!!!
[Homebridge] [2/10/2020, 21:43:18] [Unifi protect cameras & motion sensors] !!!! Unifi Motion event (5e41c06101824d

[2020-02-11 06:24] beele commented on #6
The motion events seem not to be matching up with accessories.
I've made released a debug build on NPM which you could install, it will print out more logging, that hopefully allows us to see what is going wrong.

homebridge-unifi-protect-camera-motion@0.1.0-debug (or just the latest version)

[2020-02-11 08:24] acesarewld commented on #9
John this is GREAT! I am trying to install it into Homebridge but I'm really not sure what to do. When I use the GUI I can see I am running the hjdhjd version and not yours... how exactly do I go about replacing what I have now with your version that supports the UDM?

[2020-02-11 08:42] alezanott commented on #6
@beele My `motion_interval` is set to 5000, the `motion_repeat_interval` is set to 30000

This is the log when enabled debug and updated to the latest version:

[code]

[2020-02-11 09:03] beele commented on #6
@alezanott Thx! Seems to be fine so far.
You have only added the `Entrata Porta` camera to the home app?

Can you post some logs when you actually try to trigger the motion sensor. It should show us some more info on how the motion event and the accessory are correlated.

[2020-02-11 12:21] jonbloom commented on #9
@acesarewld First off, it's Jon. It’s right there!

I submitted a pull request to that other project so it's up to them to merge in my changes. If they don't within a few more days, I'll just publish it myself under a different plugin name.

[2020-02-11 14:07] alezanott commented on #6
@beele Yes, exactly I've added only the `Entrata Porta`

Here the logs when the motion sensor is triggered. Now it seems working, I get the notifications!

[code]

Thank you @beele for the amazing support given!!!

[2020-02-11 15:58] acesarewld commented on #9
Jon -- I corrected it in my other message and do apologize! My name is Geoff (with a 'G') and in e-mail replies people call me 'Jeff' -- and I feel the same way -- IT'S RIGHT THERE! It was 3AM or so when I wrote that and I was pretty tired after rebuilding some VM's - sorry again, but also THANK YOU! Awesome work and looking forward to it making it into the real project or seeing yours come out.

[2020-02-11 16:54] crxporter commented on #9
Jon and Geoff-

Count me in as another who’s ready to see this ready for UDM Pro.

-Garrett (with 2 r’s and 2 t’s)

[2020-02-11 17:29] beele commented on #6
Glad it's working now.
No problem ;)

@nicgraner did you get it working already? Maybe try reinstalling/updating to the dev release as described above?

[2020-02-11 17:30] beele commented on #10
@BadgerBadgerAndFox any progress?

[2020-02-11 18:19] beele commented on #9
@jonbloom
I've just made the first changes (untested) for supporting both the old way of working and the new UnifiOS method.

Code in https://github.com/beele/homebridge-unifi-protect-camera-motion/tree/feature/unifi-os-support

[2020-02-11 22:32] BadgerBadgerAndFox commented on #10
Not great with the debian variant. Clean deploy with no post deploy config, unifi plugin seems to install ok (dont see all the warnings presented during install on alpine variant), but on restart homebridge coredumps when trying to load the plugin.

Illegal instruction (core dumped)

It then attempts to reload the plugins, and continues to loop until the unifi plugin is removed.

[2020-02-11 23:03] BadgerBadgerAndFox commented on #10
reverted to alpine and added libc6-compat, this then resulted in a failure during plugin install due to a missing package dependency. It needs pixman-1 which is not available for alpine, tried to add pixman which is available but this did not resolve the error

[2020-02-11 23:05] BadgerBadgerAndFox commented on #10
USER: root
DIR: /homebridge
CMD: npm install --save homebridge-unifi-protect-camera-motion@latest

npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142

CPU-linux-1.2.11.tar.gz
* Downloading libtensorflow
[==============================] 3817182/bps 100% 0.0s
* Building TensorFlow Node.js bindings

node-pre-gyp WARN Using request for n

[2020-02-11 23:14] BadgerBadgerAndFox commented on #10
logs attached
[2020-02-11T23_01_26_977Z-debug.log](https://github.com/beele/homebridge-unifi-protect-camera-motion/files/4189086/2020-02-11T23_01_26_977Z-debug.log)
[2020-02-11T22_54_56_802Z-debug.log](https://github.com/beele/homebridge-unifi-protect-camera-motion/files/4189087/2020-02-11T22_54_56_802Z-debug.log)

[2020-02-11 23:22] nicgraner commented on #6
@beele Im working on it as we speak, just upgraded to your 0.1.0 version, so gonna get it going and will report back soon.

[2020-02-11 23:23] BadgerBadgerAndFox commented on #10
It looks like i should revert to debian and deal with the Illegal Instruction (Core Dump). I suspect this is due to a limitation in the instruction set of my CPU.
https://tech.amikelive.com/node-887/how-to-resolve-error-illegal-instruction-core-dumped-when-running-import-tensorflow-in-a-python-program/

running cpuinfo reveals that the required AVX instruction set for Tensorflow 1.6 is not present

[2020-02-12 05:33] nicgraner commented on #6
Hate to come back to full circle, however my Pi was unable to keep up with the load of the 5 cameras, and so I have Homebridge running in a docker container on my home server, and im back to the
`ffmpeg exited with code 1`

that I was having initially. Im uncertain on whether I should try to follow your guide or not (in regards to compiling ffmpeg) as its for raspberry pi's. I tried and it seemed

[2020-02-12 06:25] beele commented on #6
@nicgraner
Do the snapshots work? Is it only the streaming that fails?
Maybe the ffmpeg is compiled without aac support. Could you try to disable audio in the plugin config?
Another option (if audio is the problem) is to force the audio codec:
`
"audio": true,
"acodec": "libopus"
`

[2020-02-12 06:34] beele commented on #12
@nicgraner This can be closed now?

[2020-02-12 06:36] beele commented on #11
@ntableman
Another option (if audio is the problem) is to force the audio codec:
"audio": true, "acodec": "libopus"

[2020-02-12 06:50] nicgraner commented on #6
Snapshots do indeed work, ill try adding that audio codec force

[2020-02-12 09:46] beele commented on #6
@nicgraner I don't have access to discord right now, maybe later.

You could try to add: `"debug": true` to the videoConfig that should output the ffmpeg debug logging. Note that this is not the same as the debug variable on the unifi config section!

[2020-02-12 18:09] nicgraner commented on #6
So whats weird is after changing the codec back and forth a few times, I was able to get it to no longer error out, however it says in the ffmpeg log that it sent 232 frames in 8 seconds so roughly 30 fps which is what I have it set to, but the video stream itself on the iphone is refreshing as if its using the anonymous screenshots (I.e. every 8 seconds)

[2020-02-12 18:26] beele commented on #6
@nicgraner strange, what happens if you let it stream for a bit longer (say 30 seconds or more)?

[2020-02-12 18:30] nicgraner commented on #6
ill try it right now

[2020-02-12 18:36] beele commented on #6
@nicgraner can you try swapping the codec to `h264` instead of `h264_omx` since you are no longer running this on a raspberry pi.

[2020-02-12 18:42] nicgraner commented on #6
RTSP stream is set to high on the Unifi end, and in the config I have dropped it from 1920x1080 30fps 6k bitrate to 1280x720 20 fps 3k bitrate. I changed it to h264 and no change

[2020-02-12 18:48] beele commented on #6
@nicgraner my cams are on the medium preset, maybe that does something. I read somewhere that issue might come from ffmpeg not being fast enough to deliver data to the iphone, but I would expect the stream to be cut off then and not keep doing itss thing. :/

[2020-02-12 18:52] nicgraner commented on #6
Ill try dropping it a bit! I got a little ahead of myself thinking it would be fine since i was going from the power of a raspberry pi to my threadripper server lol :) ill follow up in a bit when I drop the settings.

[2020-02-12 18:58] beele commented on #6
I suspect this is an issue with your version of ffmpeg. https://trac.ffmpeg.org/wiki/CompilationGuide/Ubuntu not a fun & quick task but it might help.

[2020-02-12 19:01] nicgraner commented on #6
I have no issues with it not being quick to setup as long as I can get it sorted in the end :) ill try compiling it right now

Changed settings:

RTSP in unifi: High > Medium
max height and width in video_config: 1920x1080 > 1024x576 (to match the medium output in case resolution mismatch was causing issue)

other settings not changed but different from stock:

vcodec: h264
added acodec: libopus

[2020-02-13 20:03] nicgraner opened #15 "Software installed, cameras are adopted into homekit, but video feed is 1 frame every 8 seconds"
Figured we had strayed too far off the topic of "it wont install" to warrant a new issue thread. Thanks again for your continued help :)

[code]

I've been troubleshooting for a few hours now and have gotten to the point where the software doesn't exit with FFMPEG errors, but on the iPhone or iPad (tried with iPhone X, 11, and iPad Pro 11" as well as iPad 7th generation) the video stream only chan

[2020-02-13 22:57] nicgraner commented on #15
Progress has been made! after watching a video over HOOBS camera FFMPEG, the video poster mentioned changing the vcodec from h264 to `"vcodec": "copy"`, and this worked! we have reliable video feeds from all cameras other than one thats being stubborn and not wanting to show up. Im going to test notifications next, but it seems like we made a huge leap forward today!

[2020-02-15 03:55] bls8486 commented on #10
Having the same issue on a DS918+ with a J3455.  Have you gotten it working?

[2020-02-17 01:53] a-rodriguez commented on #12
@nicgraner Did you install it via the CLI or the HOOBS web interface? My install is failing (via the web interface) so I figured I would ask before opening another issue.

[2020-02-17 13:05] beele commented on #12
@a-rodriguez have you followed the Hoobs wiki article? https://github.com/beele/homebridge-unifi-protect-camera-motion/wiki/Hoobs-installation-steps

[2020-02-17 13:06] #6 closed

[2020-02-17 13:07] beele commented on #10
You would need to fully compile tensorflow from source, which is out of scope for this project.
https://github.com/beele/homebridge-unifi-protect-camera-motion/wiki/Hoobs-installation-steps

[2020-02-17 13:08] #11 closed

[2020-02-17 13:09] beele commented on #15
@nicgraner Good to hear you got it working. I'll try with the copy as well and see if it's useful to mention this in the documentation.

Did you get the notifications working?

[2020-02-17 17:41] nicgraner commented on #15
Notifications seem to be hit or miss, haven't really been able to pinpoint an exact trigger to make it work consistently, maybe just need to lower the score or something, and audio seems to be broken when I use copy, not sure why. final settings to achieve streamed video is here;

[code]

however youll notice that even with the audio codec set manually, I still don't get audio. Not sure whats caus

[2020-02-22 18:54] andrewoke opened #16 "[Unifi protect cameras & motion sensors] Cannot get cameras: Error: ERROR: Could not enumerate motion sensors: Error: Authentication failed: {}"
Getting this error. It was previously working and I'm not sure what changed during an update. I've verified I can login with the user I provided etc. etc. Turning debug to true doesn't seem to increase logging though.

[2020-02-22 18:57] andrewoke commented on #16
`
        {
            "platform": "Unifi-Protect-Camera-Motion",
            "name": "Unifi protect cameras & motion sensors",
            "unifi": {
                "controller": "https://unifi:7443",
                "controller_rtsp": "rtsp://unifi:7447",
                "username": "***",
                "password": "***",
                "motion_interval": 5000,
                "motion_repea

[2020-02-23 23:22] nicgraner commented on #15
https://github.com/markus-perl/ffmpeg-build-script using this FFmpeg build script I was able to build FFMPEG and use this config to get everything working:

[code]

gonna keep tweaking to see if I can improve, but now im just working on fine tuning the notifications, Tensorflow seems to error out saying its using more than 10% of ram, so I disabled the motion event stuff for now

[2020-02-24 00:58] alvaroledesma commented on #16
I am also having this issue

[2020-02-24 12:40] andrewoke commented on #16
I'm glad it's not just me haha. I thought I must have missed something.

Protect version is 1.13.1

[2020-02-24 13:42] andrewoke commented on #16
Ok, so I didn't catch it the first time, but ubuntu's resolvconf was messing with dns. I basically had to disable it, add my dns server in and now it's working again. You should be able to check that unifi-protect actually resolves to the cloudkey.

[2020-02-24 13:42] #16 closed

[2020-02-24 15:43] alvaroledesma commented on #16
@andrewoke suggestions on how to do that? I can’t tell if it’s my firewall or the DNS on the homebridge controller

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2020-03-09 05:31] scoobaspeaz opened #17 "Streaming quality at 640x360@132kBit and maxFPS seems stuck at 15"
How can I increase this? I also set my maxFPS to 30fps (G3 Bullet is 30fps)

Also I notice my streaming quality is stuck at 640x360@132kBit when I look at homebridge logs. How can I increase this? I have the RTSP stream at High 1920x1080. I even tried Medium 1024x526.
[Unifi protect cameras & motion sensors] Start streaming video from Driveway with 640x360@132kBit

 "videoConfig": {

[2020-03-09 09:09] scoobaspeaz commented on #17
Video quality has changed dramatically by using the codec copy instead of h264_omx as mentioned here: https://github.com/beele/homebridge-unifi-protect-camera-motion/issues/15#issuecomment-586013388

Im going to continue to test this to see if it helps. Nothing above has changed as far as the streaming quality 640x360@132kBit but at least the picture seems smoother now.

[2020-03-09 15:16] scoobaspeaz commented on #17
Welp never mind on that. I woke up this morning to the video not wanting to stream with the copy vcodec option. I had to put it back to h264_omx to get it to stream. However streaming is 1 frame per few seconds. Its horrible that way.

Wonder why copy isn't working anymore?

[2020-03-10 21:55] drewcovi opened #18 "Can't install on Raspberry Pi due to Canvas dependency"
It seems this depends on `node-canvas` which doesn't support `arm` based systems. How were you able to get this working on a Pi?

https://www.npmjs.com/package/canvas-prebuilt

[2020-03-10 22:09] drewcovi commented on #18
Ah, it seems you've accounted for this here: https://github.com/beele/homebridge-unifi-protect-camera-motion/wiki/node-canvas-prerequisites

I'll have to think more on how best to handle this, given my oznu/homebridge-docker implementation.

[2020-03-10 22:13] #18 closed

[2020-03-21 10:43] mrhsiao opened #19 "G4 pro with ERROR: FFmpeg exited with code 1"
Here is the log:

[Homebridge] [3/21/2020, 18:35:28] [Unifi protect cameras & motion sensors] Start streaming video from UVC G4 Pro 05F1 with 640x360@132kBit
[Homebridge] [3/21/2020, 18:35:28] [Unifi protect cameras & motion sensors] ERROR: FFmpeg exited with code 1

I did follow the ffmpeg install guide. and the platform is Raspberry Pi 4B with HOOBS

Thanks!

[2020-03-25 02:55] dvlamoen opened #20 "Unifi OS issues (not authenticating/camera listing/motion events/...)"
After 2000 ms its failing with "[3/24/2020, 7:48:41 PM] [Unifi protect cameras & motion sensors] Cannot get cameras: Error: ERROR: Could not enumerate motion sensors: Error: Authentication failed: {}".

This is with correct controller IP/RTC its specified as well as correct credentials (taking the same IP:port yield a login screen and a successful login with credentials in .config file.

edit: run

[2020-03-27 19:39] beele commented on #17
These stream values are requested by the iOS device, only an ipad can request a 720p stream.

[2020-03-27 19:39] #17 closed

[2020-03-27 19:40] beele commented on #20
Config? More detailed logging?
Are you using the unifi os or the "legacy" controller?

[2020-03-27 19:42] beele commented on #19
You'll need to debug FFmpeg (try putting it in debug mode by adding: "debug": true in the video config of the plugin)

[2020-03-28 06:01] nzbullet opened #21 "Publish Motion to MQTT"
Just wondered if you've thought about adding MQTT support to publish motion activity. This would make it possible to interact with the camera motion for other plugins that use MQTT (e.g. mine) ;)

There is [Unifi Protect MQTT](https://github.com/noodlemctwoodle/unifi-video-mqtt) this which I have installed on my Cloudkey but would prefer to not install something on the Cloudkey and seeing as you g

[2020-03-28 09:50] nzbullet opened #22 "UnhandledPromiseRejectionWarning: Error: Cannot load image!"
Receiving the following error in my logs anytime motion is detected if enable anonymous snapshots is not enable. This Error should be handled more gracefully to advise the user what the issue is.

[code]

[2020-03-31 02:08] nzbullet opened #23 "Tidy up log messages"
Any chance you could remove all the extra's from the logs? Even when debug is not enabled there is a lot of info clogging up the logs. For example strings with !!!! at the start and end and the event ID's. Realistically this should only be shown if the debug is enabled.

I have this currently...
<img width="1325" alt="Screenshot 2020-03-31 at 150546" src="https://user-images.githubusercontent.com/

[2020-04-02 16:42] janthony6 opened #24 "Doesn't install on Pi"
pi@raspberrypi:~ $ sudo npm install homebridge-unifi-protect-camera-motion -g --unsafe-perm=true
npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142
npm WARN deprecated mkdirp@0.5.4: Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x. (Note that the API surface has changed to use Promises in 1.x.)

CPU-linu

[2020-04-02 17:07] janthony6 commented on #9
how do i install the unifi-os branch onto an rpi instead of the main one?

[2020-04-07 22:38] janthony6 commented on #20
I had the same issue.  I also tried to add the unifi-os changes and reboot - same issue.

[2020-04-08 07:48] beele commented on #24
`Package pixman-1 was not found in the pkg-config search path.`

Have you installed the required dependencies for rbpi as per the wiki?

[2020-04-08 07:48] beele commented on #23
I will have a look at this!

[2020-04-08 07:52] beele commented on #22
Will look into this

[2020-04-08 07:53] beele commented on #20
@dvlamoen I'll need some more information.
OSX version?
Node version?
Unifi controller or Unifi OS? which version?

[2020-04-08 07:57] #10 closed

[2020-04-08 07:57] #12 closed

[2020-04-08 07:58] #15 closed

[2020-04-08 08:01] beele commented on #21
I have no experience with MQTT.
Feel free to add this and open a PR

[2020-04-08 08:57] #22 closed

[2020-04-08 08:59] #23 closed

[2020-04-08 09:04] beele commented on #9
Merged into master and available on release 0.1.1 on npm
This is however untested with Unifi OS since I don't have access to a UDM

[2020-04-08 10:45] alezanott opened #27 "Issue after update"
Hi @beele, I've just made the update that you released today but got this error.
`at API.platform (/home/hoobs/.hoobs/node_modules/@hoobs/homebridge/lib/api.js:115:19)
    at Server._loadPlatforms (/home/hoobs/.hoobs/node_modules/@hoobs/homebridge/lib/server.js:283:47)
    at Server.run (/home/hoobs/.hoobs/node_modules/@hoobs/homebridge/lib/server.js:74:14)
    at module.exports (/home/hoobs/.hoob

[2020-04-08 13:19] beele commented on #27
If you update to the latest version it should be fixed.
TFJS-NODE seems to be very broken atm for running on a pi so I reverted it back and opened a bug ticket with them: https://github.com/tensorflow/tfjs/issues/3052

[2020-04-08 14:36] janthony6 commented on #20
Raspberry pi
Latest node 13
Unifi OS

[2020-04-08 15:18] janthony6 commented on #24
I have no installed all the required dependencies.
For controller, I've tested both 10.0.0.1:7443 and 10.0.0.1/protect/ (the later is what is used in unifi os. 7443 takes you to a legacy page but you can't login from it. any attempt to login doesn't work.)

Both resulted in the following message:
Endpoint style: UnifiOS (this comes up when using the /protect/ address.  Otherwise it says UnifiOS (l

[2020-04-08 15:42] alezanott commented on #27
Fixed it @beele! thank you
let's hope they'll answer to the ticket.

[2020-04-08 16:41] beele commented on #27
No problem!
Hopefully it gets fixed so I can include an updated tfjs-node

[2020-04-08 16:41] #27 closed

[2020-04-08 16:44] beele commented on #20
Looks to be an issue with the logic sequence for the new Unifi OS.
I can't test this myself since I only have a controller with the (legacy) Unifi Protect.
I'll try to get a test together so you can execute it and report back here

[2020-04-08 16:45] beele commented on #24
Ok, The main issue of this ticket has been solved.
I'm closing this and continuing the Unifi OS issue in: https://github.com/beele/homebridge-unifi-protect-camera-motion/issues/20

[2020-04-08 16:45] #24 closed

[2020-04-08 17:04] beele commented on #20
If you install the new beta version: npm i homebridge-unifi-protect-camera-motion@0.1.4-beta.0
and try to start homebridge.
Copy all logs (redact where needed) and paste them here.

[2020-04-08 17:15] janthony6 commented on #20
this is using 10.0.0.1/protect/

[08/04/2020, 10:11:13] [Unifi protect cameras & motion sensors] Endpoint Style: UnifiOS
[08/04/2020, 10:11:13] [Unifi protect cameras & motion sensors] WARNING: No previous session found, a new session must be created!
{"uri":"https://10.0.0.1/protect//api/auth/login","headers":{"Content-Type":"application/json","X-CSRF-Token":"redacted"},"body":{"username":"xxx","

[2020-04-08 17:19] janthony6 commented on #20
maybe there is an extra / ?  shouldn't it be:
"href": "https://10.0.0.1/protect/api/auth/login"

[2020-04-08 17:22] beele commented on #20
What is your controller value in the config? it should not contain /protect I think (and not end with a /)

[2020-04-08 17:30] janthony6 commented on #20
my config is 10.0.0.1/protect/

I tested with 10.0.0.1/protect and that didn't work either.

Also tried: 10.0.0.1:7443 and 10.0.0.1 and 10.0.0.1/protect/cameras - none worked.

[2020-04-08 17:33] beele commented on #20
What is the url that you use to login to the Unifi OS?

[2020-04-08 17:40] janthony6 commented on #20
just my ip of my router.

10.0.0.1

then i login and select either Unifi for networking or Protect for nvr.  UI staff said the url to login to protect is no longer 7443.  It's IP/protect/  cameras are IP/protect/cameras

[2020-04-08 17:47] beele commented on #20
Then the controller field in the config should just be https://10.0.0.1
because internally I map this to go to the protect api after authentication
[code]
Could you post a log with that value in the config?

[2020-04-08 18:13] janthony6 commented on #20
okay.  with 10.0.0.1 i get this:

{
    "vary": "Origin",
    "x-dns-prefetch-control": "off",
    "x-frame-options": "SAMEORIGIN",
    "strict-transport-security": "max-age=15552000; includeSubDomains",
    "x-download-options": "noopen",
    "x-content-type-options": "nosniff",
    "x-xss-protection": "1; mode=block",
    "x-csrf-token": "redacted",
    "content-type": "text/html; charset=utf-8"

[2020-04-08 20:52] dvlamoen commented on #20
10.14.6

v12.16.1

Unifi OS

[2020-04-16 03:42] jonbloom commented on #9
@beele Hi, I'm just getting around to testing this.
I'm getting the following error:
`[Unifi protect cameras & motion sensors] Cannot get cameras: Error: ERROR: Could not enumerate motion sensors: Error: Authentication failed: {}`

Is there an easy way to get more detailed debugging logs? This is with `debug: true`.

[2020-04-16 04:03] jonbloom commented on #9
@beele Looks like the  one thing my plugin was doing that yours is not is keeping the cookies between the initial login request and the bootstrap call. The login request sets a cookie `TOKEN` which is a JWT token to use in subsequent requests. I think if that's added in, then we'll be good to go on UDM Pro.

[2020-04-16 04:19] jonbloom commented on #9
Looking at [this](https://github.com/beele/homebridge-unifi-protect-camera-motion/blob/3cc7554d38c5a01e09ef08c33a448d6b6dd35ab9/src/unifi/unifi.ts#L84) line, and decoding the JWT token, the new session duration is only one hour. Each subsequent request updates the cookie with a new expiration on the JWT token. Perhaps there should be a cookie jar associated with the session that can be continually

[2020-04-18 08:41] scoobaspeaz opened #28 "HomeKit does not find the 4th camera"
I was able to find 3 cameras very easily in my home app. One camera though just wasnt to be found. It works fine on a previous homebridge-ufp plugin so I know its able to be added. Its the driveway camera. As you can see home bridge finds it but HomeKit never sees it. HomeKit only sees front yard, back porch, and garage.

[4/18/2020, 4:34:47 AM] [Unifi protect cameras & motion sensors] Endpoint St

[2020-04-19 09:18] scoobaspeaz commented on #28
I ended up clearing persist and clearing out accessories and starting over. Now it finds all cameras. It still has a streaming issue but I will open something new for that later.

[2020-04-19 09:18] #28 closed

[2020-04-19 15:44] frooonk commented on #20
I got the same error message like dvlamoen:
[Unifi protect cameras & motion sensors] Cannot get cameras: Error: ERROR: Could not enumerate motion sensors: Error: Authentication failed: {}".

I solved the problem with editing the controller value from: "controller": "https://MyIP:7443/" to "controller": "https://MyIP:7443".

!!! The controller value should not end with an additional "/" at he end !

[2020-04-21 01:17] hfagelnour commented on #20
@frooonk the sample config doesn't have  "/" to start with.
i still get the same error! are you using the UDMPro ..... @beele explicitly mention the UDMPro is still work in progress.

[2020-04-21 11:58] frooonk commented on #20
@hfagelnour : I am using the Ubiquiti UniFi Cloud Key Gen2 Plus

Perhaps check the the following installation steps (this was another problem I had):

1. SSH-login to your Raspi and install the node-canvas dependencies:
`sudo apt-get install build-essential libcairo2-dev libpango1.0-dev libjpeg-dev libgif-dev librsvg2-dev`

2. install ffmpeg:
`sudo apt-get install ffmpeg`

3. install the Plugin "U

[2020-04-21 19:21] hfagelnour commented on #20
@frooonk thx for the above. Do u know if the config file u posted works for the UDMPro?

[2020-04-28 00:57] JJJ commented on #20
Beautifying the snippet from @frooonk above for anyone else who needs it:

[code]

[2020-04-28 01:43] hfagelnour commented on #20
@JJJ This still wouldn’t work on UDMP running 1.6.x - 1.7.x Unifi OS. Correct me if I am wrong

[2020-04-28 02:15] JJJ commented on #20
@hfagelnour no idea. I'm just lurking and saw the malformed code snippet.

[2020-04-28 02:44] tillkruss opened #29 "Unable to install on Synology+Docker"
Any leads on how to resolve this?

[code]

[2020-04-28 06:44] frooonk commented on #20
Thanks JJJ for beautifying the code snippet. I didn't know how to paste it correctly formatted.

@hfagelnour: I'm sorry, but I have no idea either if the UDMP is the reason for the malfunction of the plugin. From my experience sometimes it has helped to re-install the raspberry and homebridge. I can recommend hoobs.org (installation for Experts). Maybe you can then exclude your UDMP-hardware as a

[2020-04-28 06:47] beele commented on #20
Unifi OS/UDM (Pro) will most likely not work yet.
I don't have a Unifi OS based device to test on.
If someone could provide (a redacted) postman request and response for the login call I might be able to get further with this.

[2020-04-28 06:48] beele commented on #29
You need to install the canvas dependencies. Look in the wiki: https://github.com/beele/homebridge-unifi-protect-camera-motion/wiki/node-canvas-prerequisites

[2020-04-28 06:48] #29 closed

[2020-04-28 06:51] beele commented on #9
@jonbloom I'll have a look! Thx for the info

[2020-04-28 07:12] hfagelnour commented on #20
@beele more than willing to help with ur request if u provide me with clear instructions on how to get u the said postman request and its response.

[2020-04-28 15:24] jonbloom commented on #9
@beele No problem. There's also the new UVC-G4-Doorbell to support that generates a new kind of event, `ring`. I need to check if that ends up in the events  API, or just the logfile on the server.

[2020-04-28 16:50] tillkruss commented on #29
Run this for Docker on Synology:

[code]

[2020-04-28 17:39] sonoseco commented on #29
@tillkruss I used the suggested command to install the required packages and it was successful. I am running the Alpine version of the docker image. However, upon restarting homebridge I get the following errors:

`[4/28/2020, 5:35:11 PM] ====================
[4/28/2020, 5:35:11 PM] ERROR LOADING PLUGIN homebridge-unifi-protect-camera-motion:
[4/28/2020, 5:35:11 PM] Error: Error loading shared lib

[2020-04-28 21:02] sonoseco commented on #29
I was able to overcome the initial error, now this:

[code]

It looks like this plugin does not play well with the homebridge docker image and Synology. Compling tensorflow from source, which seems to be the problem, requires bazel and further compiling.

[2020-04-28 21:31] tillkruss commented on #29
@sonoseco: Same error here:

[code]

How did you fix it?

[2020-04-28 21:54] tillkruss commented on #29
@sonoseco: If you find a solution to the `libtensorflow.so` error, can you let me know?

[2020-04-29 14:25] sonoseco commented on #29
@tillkruss I could not compile libtensorflow in Alpine, so gave up on that. Tried again testing with the Debia version of the docker image and though the plugin seems to install fine with all dependencies, homebridge fails to load after a restart: `[HB Supervisor] Homebridge Process Ended. Code: null, Signal: SIGILL`.

Unfortunately I don't think the plugin works with Synology docker-based images

[2020-04-29 16:16] tillkruss commented on #29
@sonoseco: Maybe we can build our own Docker container, or get https://github.com/oznu/docker-homebridge to fix support for it?

[2020-04-29 16:19] tillkruss commented on #29
Also, 3.1.0 was released this morning, maybe that fixes it: https://github.com/oznu/docker-homebridge/releases

[2020-04-30 00:16] JJJ commented on #20
@beele happy to collaborate however you prefer.

I get the feeling the login will need to be totally reverse engineered.

Here are some basics...

When I GET or POST to `https://theipaddress:7443/api/auth` I get:

[code]

When I try to POST with to `https://myipaddress:7443` I get:
[code]

[2020-04-30 01:25] crxporter commented on #20
Dream machine pro authentication is a POST at `https://ip-address/api/auth/login`

It comes back with a token and cookie. The token is good until you get errors. The cookie can (probably should) be updated with every poll (udmp sends back a new cookie).

Bootstrap is a GET request at `https://ip-address/proxy/protect/api/bootleg`.

Note there’s no port used in any of these for dream machine pro. I

[2020-04-30 01:35] crxporter commented on #20
PS- the body of the authentication post request should look like this:

[code]

[2020-04-30 16:10] a-rodriguez opened #30 "Get Verified"
I would not consider this a high priority but wanted to suggest making this a "[Verified](https://github.com/homebridge/homebridge/wiki/verified-Plugins)" plugin.

[2020-04-30 22:25] sonoseco commented on #29
@tillkruss We are better off by creating an issue post in the docker-homebridge page.

[2020-05-01 16:51] dsully commented on #20
I'm also seeing this with a UDM-Pro, running 1.7.0-RC12. I can help debug if given pointers.

[2020-05-01 16:59] beele commented on #30
I will have a look at this, however installing the plugin can be troublesome on some devices due to the dependency on tensorflowjs

[2020-05-01 17:01] JJJ commented on #20
@crxporter you may want to redact some of your comment. Things like MAC addresses and location information could possibly be used against you if they're made public.

[2020-05-01 17:13] beele commented on #20
What the logic right now looks like:

I determine is UnifiOS is being used by doing a GET request towards the base controller url (so the ip of the controller with or without any specific port). If the response contains 'x-csrf-token' as a header then I assume it's UnifiOS.

For UnifiOS I then set the login url and protect urls like so:
[code]
And I save the x-csrf-token (If there is any cookie he

[2020-05-01 18:32] crxporter commented on #20
Looks like things are progressing. I’m assuming everyone got whatever might be helpful from my earlier post.

Flag me if I can help anymore!

[2020-05-01 18:50] crxporter commented on #20
@beele the body my login has three things:

[code]

[2020-05-04 16:43] tillkruss commented on #29
@sonoseco: If you opened an issue, can you link it here?

[2020-05-05 16:19] tronny87 opened #31 "Can't install on a Synology NAS"
I understand your compile of tensorflow.js may not be compatible with certain CPU's and that a compile from source is needed, but I've had no luck with getting this to work in Docker on my Synology 918+.

As I saw on a previous thread that it is out of the scope of this project, I was hoping to get a hand with this. I had your plugin working on my RPi for months and recently migrated Homebridge ov

[2020-05-05 16:22] tronny87 commented on #31
Further context:

====================
[5/5/2020, 4:21:24 PM] ERROR LOADING PLUGIN homebridge-unifi-protect-camera-motion:
[5/5/2020, 4:21:24 PM] Error: Error loading shared library ld-linux-x86-64.so.2: No such file or directory (needed by /homebridge/node_modules/homebridge-unifi-protect-camera-motion/node_modules/@tensorflow/tfjs-node/lib/napi-v4/../../deps/lib/libtensorflow.so.1)
    at Object

[2020-05-06 20:47] nzbullet opened #32 "Plugin incorrectly using Platform Name instead of Plugin Identifier"
Although the plugin is working, I am receiving this error in my logs.

`[5/7/2020, 08:44:20] One of your plugins incorrectly registered an external accessory using the platform name (Unifi-Protect-Camera-Motion) and not the plugin identifier. Please report this to the developer!`

[2020-05-08 17:12] beele commented on #20
@crxporter but the problem is that the logic I described in my post above is currently not working for UnifiOS.

If anyone could make postman requests for each item and post screenshot/descriptions the actual requests & params (with username/pw & other sensitive data redacted) that would help greatly

[2020-05-08 17:13] beele commented on #32
This will be fixed once my reworked version is released.
Working on a fully typescript version & better integration with the newer homebridge 1.x.x release.

[2020-05-08 17:14] beele commented on #31
What output do you get during the installation of the plugin from npm?

[2020-05-08 17:36] crxporter commented on #20
I’m trying now to run it in postman...

[2020-05-08 18:11] crxporter commented on #20
Ok I got it running in postman. Perhaps this will be more helpful!

The post request important details:
I had to go to settings and set "SSL certificate verification" to "off".
Params: none
Authorization: no auth
Headers:
![Screen Shot 2020-05-08 at 12 51 01 PM](https://user-images.githubusercontent.com/38265886/81433681-9a346380-912a-11ea-9a12-cfb032a81e1e.png)
Body:
![Screen Shot 2020-05-08 at 1

[2020-05-09 10:05] beele commented on #20
I've published a new beta version: https://www.npmjs.com/package/homebridge-unifi-protect-camera-motion/v/0.2.0-beta.0 (npm i homebridge-unifi-protect-camera-motion@0.2.0-beta.0)
This one does require some changes, change the platform name in config to: UnifiProtectMotion
Make sure you are running Homebridge V1.x.x and at least node 10.17.0

This beta version should (hopefully) be able to get furt

[2020-05-09 20:19] dsully commented on #20
Output attached with the extra debug logging.

[homebridge.debug.log](https://github.com/beele/homebridge-unifi-protect-camera-motion/files/4604429/homebridge.debug.log)

[2020-05-09 22:50] hfagelnour commented on #20
I am sure the plugin and all its dependancies as well .... getting this error though (i am sure the username and password are correct) my rtsp port as showing is 7447

[5/10/2020, 12:41:40 AM] [Unifi protect cameras & motion sensors] Endpoint Style: UnifiOS
[5/10/2020, 12:41:40 AM] [Unifi protect cameras & motion sensors] WARNING: No previous session found, a new session must be created!
[5/10/202

[2020-05-10 15:20] beele commented on #20
New beta version with a lot of changes (check the readme on the rework branch)

- https://www.npmjs.com/package/homebridge-unifi-protect-camera-motion/v/0.2.0-beta.1
- install with: npm i homebridge-unifi-protect-camera-motion@0.2.0-beta.1

[2020-05-10 15:24] beele commented on #9
Active development for Unifi OS support is being handled in this ticket: https://github.com/beele/homebridge-unifi-protect-camera-motion/issues/20

[2020-05-10 16:22] dsully commented on #20
May 10 08:42:52 server homebridge[757805]: [5/10/2020, 8:42:52 AM] Homebridge is running on port 51826.
May 10 08:42:52 server homebridge[757805]: [5/10/2020, 8:42:52 AM] [Unifi Protect cameras & motion sensors] Endpoint Style: UnifiOS
May 10 08:42:52 server homebridge[757805]: [5/10/2020, 8:42:52 AM] [Unifi Protect cameras & motion sensors] WARNING: No previous session found, a new session must b

[2020-05-10 18:04] beele commented on #20
@dsully @hfagelnour @crxporter I've just added a third beta which should set the cookie correctly 🤞
Also every request is logged before it is sent. If it's not working paste a log (and redact your username & password).

- https://www.npmjs.com/package/homebridge-unifi-protect-camera-motion/v/0.2.0-beta.2
- install with: npm i homebridge-unifi-protect-camera-motion@0.2.0-beta.2

[2020-05-10 18:39] hfagelnour commented on #20
this is the response i got using Beta 1 will try Beta 2 now ... cant thank you enough for the effort.

[5/10/2020, 8:36:08 PM] [Unifi protect cameras & motion sensors] Endpoint Style: UnifiOS
[5/10/2020, 8:36:08 PM] [Unifi protect cameras & motion sensors] WARNING: No previous session found, a new session must be created!
[5/10/2020, 8:36:08 PM] [Unifi protect cameras & motion sensors] Authenticat

[2020-05-10 18:42] dsully commented on #20
[homebridge.log](https://github.com/beele/homebridge-unifi-protect-camera-motion/files/4606532/homebridge.log)

Not quite working. Here's a log from beta.2

[2020-05-10 18:47] hfagelnour commented on #20
still not working
[5/10/2020, 8:43:43 PM] [Unifi protect cameras & motion sensors] Endpoint Style: UnifiOS
[5/10/2020, 8:43:43 PM] [Unifi protect cameras & motion sensors] WARNING: No previous session found, a new session must be created!
{
  url: 'https://192.168.2.1/api/auth/login',
  method: 'post',
  data: { username: 'XXXXXXXXXX', password: 'XXXXXXXXXXXX' },
  headers: {
    common: { Accept:

[2020-05-10 19:00] beele commented on #20
@hfagelnour @dsully
Ok I see that the cookie value appears to be messed up.
I've added a new beta which logs the cookie value, if you can post the log here I can adjust the cookie value to be the correct one.

- https://www.npmjs.com/package/homebridge-unifi-protect-camera-motion/v/0.2.0-beta.3
- install with: npm i homebridge-unifi-protect-camera-motion@0.2.0-beta.3

[2020-05-10 19:07] dsully commented on #20
Looking better!

[homebridge.log](https://github.com/beele/homebridge-unifi-protect-camera-motion/files/4606589/homebridge.log)

[2020-05-10 19:12] beele commented on #20
Ok great to hear that!

I've uploaded a new beta which does not have this extensive logging of the requests enabled.

Beta 4 (with request logging)
- https://www.npmjs.com/package/homebridge-unifi-protect-camera-motion/v/0.2.0-beta.4
- install with: npm i homebridge-unifi-protect-camera-motion@0.2.0-beta.4

Beta 5 (without request logging)
- https://www.npmjs.com/package/homebridge-unifi-protect-c

[2020-05-10 19:22] beele commented on #30
- The plugin must successfully install. ***On macos/windows/linux, and rbpi, docker/synology is problematic***
- The plugin must implement the Homebridge Plugin Settings GUI. ***TODO***
- The plugin must not start unless it is configured. ***New homebridge does this automatically***
- The plugin must not execute postinstall scripts that modify the users system in any way. ***postinstall only rebui

[2020-05-10 19:24] beele commented on #32
Will be in a future release.

[2020-05-10 19:24] #32 closed

[2020-05-10 19:24] beele commented on #9
Closing in favour of #20

[2020-05-10 19:24] #9 closed

[2020-05-10 19:26] beele commented on #19
Closing due to inactivity

[2020-05-10 19:26] #19 closed

[2020-05-10 20:19] hfagelnour commented on #20
working like a charm .... thx to @beele and for every one how helped

[2020-05-10 20:57] hfagelnour commented on #20
@beele one last cosmetic error while the plugin works fine[5/10/2020, 10:52:50 PM] [Unifi protect cameras & motion sensors] Endpoint Style: UnifiOS
[5/10/2020, 10:52:50 PM] [Unifi protect cameras & motion sensors] WARNING: No previous session found, a new session must be created!
[5/10/2020, 10:52:51 PM] [Unifi protect cameras & motion sensors] Authenticated, returning session
[5/10/2020, 10:52:51

[2020-05-10 21:16] hfagelnour commented on #20
@beele  I also noticed that the frames barely update
This is the config I used when i was using the FFMPG plugin and was working fine:
{
                    "name": "Lower",
                    "motion": true,
                    "videoConfig": {
                        "source": "-rtsp_transport tcp -re -i rtsp://192.168.2.1:7447/xxxxxx",
                        "stillImageSource": "-skip_frame n

[2020-05-11 05:21] beele commented on #20
@hfagelnour

This has already been fixed in the code ;) have to put it in a beta see #32

what do you mean, that the video feed is of low quality? Or that it is not updating?

[2020-05-11 05:57] beele commented on #20
I've release a new beta, if no more Unifi OS issues are found this ticket can be closed!

- https://www.npmjs.com/package/homebridge-unifi-protect-camera-motion/v/0.2.0-beta.6
- install with: npm i homebridge-unifi-protect-camera-motion@0.2.0-beta.6

[2020-05-11 05:57] beele commented on #30
- https://www.npmjs.com/package/homebridge-unifi-protect-camera-motion/v/0.2.0-beta.6
- install with: npm i homebridge-unifi-protect-camera-motion@0.2.0-beta.6

[2020-05-11 06:12] beele commented on #31
Your NAS has a CPU (Intel Celeron J3455) which lacks the AVX instruction and requires Tensorflow (and the bindings) to be compiled from scratch.
I suggest just running it on a rbpi

[2020-05-11 13:45] hfagelnour commented on #20
@beele Video frames update once every ~30 seconds

[2020-05-11 16:06] dvlamoen commented on #20
@beele sorry for the delay. Had some personal things complicate last month.

Thanks for jumping all over. Just deployed beta 5 on fresh OSX install. Solves all the login issues!!
That said, running into something weird, any ideas why the snapshot/feed might be failing/crashing ffmpeg:

`[5/11/2020, 8:42:41 AM] Homebridge is running on port 51854.
[5/11/2020, 8:42:41 AM] [Unifi protect cameras & mo

[2020-05-11 17:15] beele commented on #20
@dvlamoen Do you have anonymous snapshots enabled on the camera?

[2020-05-11 17:38] beele commented on #20
Latest beta (with a lot of fixes & improvements):
- https://www.npmjs.com/package/homebridge-unifi-protect-camera-motion/v/0.2.1-beta.5
- install with: npm i homebridge-unifi-protect-camera-motion@0.2.1-beta.5 -g --unsafe-perm=true

[2020-05-11 17:38] beele commented on #30
Latest beta (with a lot of fixes & improvements):
- https://www.npmjs.com/package/homebridge-unifi-protect-camera-motion/v/0.2.1-beta.5
- install with: npm i homebridge-unifi-protect-camera-motion@0.2.1-beta.5 -g --unsafe-perm=true

[2020-05-11 20:11] JJJ commented on #20
With the latest beta, using my Unifi NVR4, either Homebridge hangs on restart using `**http**://my_nvr_ip`, or I get this with `**https**://my_nvr_ip`:

Using the default config.

Question @beele: is the port number _required_? When using the NVR4, there is no port for Protect, only for RTSP.

[2020-05-11 20:58] hfagelnour commented on #20
@beele Are we on Beta 5 or 6? i am already on Beta 5 and everything is working fine aside from the video refresh rate (frame not updating as it was when i used the FFMPEG plugin). I also don't see any changes to the proposed config.

[2020-05-11 21:05] dvlamoen commented on #20
Just updated to latest beta 5.

Running the following config:

`{
    "bridge": {
        "name": "Homebridge 677A",
        "username": "0E:4E:6D:F5:67:7A",
        "port": 51854,
        "pin": "999-99-999"
    },
    "accessories": [],
    "platforms": [
        {
            "name": "Config",
            "port": 8581,
            "platform": "config"
        },
        {
            "platform"

[2020-05-12 00:19] JJJ commented on #20
Same. Changed since when, I wonder?

[2020-05-12 05:59] beele commented on #20
Beta 0.2.0-beta.6 to 0.2.1-beta.5 (almost 10 betas in between)
Config changed for google photos (see demo config under resources/test-config/config.json)

[2020-05-12 08:21] beele commented on #30
Opened an issue to get the plugin verified: https://github.com/homebridge/verified/issues/72

[2020-05-12 11:40] beele commented on #30
Done!

[2020-05-12 11:40] #30 closed

[2020-05-12 12:49] a-rodriguez commented on #30
Thank you for all the hard work!

[2020-05-12 14:46] JJJ commented on #20
No, I am not. I am using the NVR4 that is currently in the early access store, running UnifiOS.

[2020-05-12 15:26] beele commented on #20
@JJJ I've merged the code in master, sorry forgot to post that here. The config can be found here: https://github.com/beele/homebridge-unifi-protect-camera-motion/blob/master/resources/test-config/config.json

The latest stable version now contains all the changes.
If you post the logs we can have a look at what might be going wrong.

[2020-05-12 15:33] dvlamoen commented on #20
@beele This is with the latest beta. Interestingly the processed tensor flow snapshots are showing up in my Homebridge folder.

[log dump.txt](https://github.com/beele/homebridge-unifi-protect-camera-motion/files/4616570/log.dump.txt)

[2020-05-12 15:34] JJJ commented on #20
[code]

[2020-05-12 15:41] beele commented on #20
It seems the plugin has a problem accessing ffmpeg. I found this older issue: https://github.com/KhaosT/homebridge-camera-ffmpeg/issues/160

What happens if you run the ffmpeg command from the terminal? Does it error out there too?

[2020-05-12 15:42] JJJ commented on #20
From: https://github.com/KhaosT/homebridge-camera-ffmpeg/releases/tag/v1.0.0

[2020-05-12 15:47] beele commented on #20
I'll make a new release with the 1.0.0 release of homebridge-camera-ffmpeg ;)

[2020-05-12 16:09] beele commented on #20
@JJJ @dvlamoen
Can you try this beta: `sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.2.7-beta.1`
It has better response logging (for JJJ) and contains the 1.0.0 of homebridge-camera-ffmpeg (with built in ffmpeg, for dvlamoen)

[2020-05-12 16:43] JJJ commented on #20
@beele working!

Successfully added 4 cameras, each with a Motion Sensor and accompanying Switch.

Video feeds load quickly. Getting 10s snapshots.

Setting the `audio` flag to `true` also gives me audio through the Home app.

Nothing in the logs (now very extensive!) appears to be putting out anything error-like.

🥳🙏

[2020-05-12 16:48] dvlamoen commented on #20
@JJJ that is awesome :)

@beele Unfortunately still same issue.

[log dump 2.txt](https://github.com/beele/homebridge-unifi-protect-camera-motion/files/4617157/log.dump.2.txt)

[2020-05-12 16:58] JJJ commented on #20
@dvlamoen At the risk of threading the conversation slightly, I have had a similar experience with the older `homebridge-camera-ffmpeg` plugin on a Raspberry Pi (both 3 and 4) not being able to put out snapshots. (Make sure you've [enabled snapshots on each individual camera](https://jjj.blog/2019/12/get-snap-jpeg-from-unifi-protect-cameras/)!)

The fix for me at that time was recompiling ffmpeg,

[2020-05-12 17:42] beele commented on #31
For compiling the tensorflow lib yourself: https://github.com/tensorflow/tfjs/tree/master/tfjs-node#optional-build-optimal-tensorflow-from-source

[2020-05-12 18:20] beele commented on #20
@dvlamoen Can you access the snapshot urls in your browser? (if that is the same machine as homebridge is running on?)

[2020-05-12 19:39] JJJ opened #34 "Refactor camera logic to a more modern implementation"
When restarting Homebridge, the Homebridge log says "Please add" on each of the cameras, even if/when they've already been added. As a user, this makes it appear like the cameras were inadvertently removed and need to be re-added again.

[code]

I'm not sure if there is an easy way to identify if specific cameras have already been added to HomeKit or not, but if it is in fact possible to do, I thi

[2020-05-12 20:31] dvlamoen opened #35 "No snapshot / live feed - FFMPEG error 2"
@beele continuing here. Thanks so much for your support.

Quick recap of issue:
- Once cameras are added to HomeKit I am getting a "failed to get snapshot" and then when clicking through the camera FFmpeg crashes with an error 2.

I just took the following steps:
- Clean OS X install
- Clean install of Node (https://nodejs.org/en/download/ , version 12.16.3)
- Clean install of Homebridge (Version

[2020-05-12 22:44] alezanott commented on #27
@beele after updating to the latest version I've encountered a similar issue as last time:
[code]
Do I need to update something specific, since I'm in HOOBS environment is not so simple to get things running in sudo. Thank you

[2020-05-13 00:08] nzbullet opened #36 "Platform name error after update."
I'm receiving an error due to the platform name...Initially I thought it's because that setting has changed and those with existing config need to update and use the UI Settings panel, but even upon changing it I still receive the error.

`[5/13/2020, 12:05:56] Error loading platform requested in your config.json at position 5
[5/13/2020, 12:05:56] Error: The requested platform 'UnifiProtectMotion

[2020-05-13 00:58] hfagelnour commented on #36
@beele I Guess I am having the same error after updating the plugin thru the master newly published one (Beta5 was working fine) I also already updated the FFMPG plugin to 1.0.0
please find error below:

[5/13/2020, 2:56:49 AM] ====================
[5/13/2020, 2:56:49 AM] ERROR LOADING PLUGIN homebridge-unifi-protect-camera-motion:
[5/13/2020, 2:56:49 AM] Error: The Node.js native addon module (tf

[2020-05-13 01:12] ntableman opened #37 "problem saving image on class detection"
[5/12/2020, 9:09:35 PM] [Unifi Protect] person detected (95%) by camera Front Doorbell !!!!
(node:14223) UnhandledPromiseRejectionWarning: Cannot save image to disk: ENOENT: no such file or directory, open '/root/.homebridge/snapshot-2020-05-13T01:09:35.839Z.jpg'
(node:14223) UnhandledPromiseRejectionWarning: Unhandled promise rejection. This error originated either by throwing inside of an async

[2020-05-13 01:46] JJJ commented on #20
Just rebooted my Raspberry Pi, and am getting this again:

[code]
😔

[2020-05-13 05:11] beele commented on #37
Where is your homebridge folder? It look like you are running homebridge as root (but homebridge probably is installed in the user folder)

[2020-05-13 05:13] beele commented on #36
Yeah I tried to fix the ARM build of tenstorflow which apparently broke something else, fixing now!

[2020-05-13 05:14] beele commented on #34
I'm not sure but I think this is also what homebridge-camera-ffmpeg does when you use that plugin.

[2020-05-13 05:16] beele commented on #20
@JJJ If you can post a log with the latest release in debug mode (the full log from start till the error). I should be able to see the response of the camera enumeration http call and see what might be different/missing

[2020-05-13 05:33] beele commented on #36
If you try with the latest version (0.2.9) it 'should' work again.
The Tensorflow lib is giving my nightmares 😅

[2020-05-13 06:07] nzbullet commented on #36
This is resolved for me however I was getting an Error: FFMPEG exited with code 1. I ended up changing some settings and it is working now.

![3A165A60-6F54-490C-AD4A-2F4B56624271](https://user-images.githubusercontent.com/24196566/81777294-a2363e00-9544-11ea-92e5-c271af3f1f21.jpeg)

Just as an FYI:
**I removed**

- maxBitrate

**I changed**

- Lower case ‘p’ on _Person_ under enhanced_classes

-

[2020-05-13 06:09] nzbullet commented on #36
Oh also FYI I am running Unifi Cloudkey G2 with 3 G3 Flex cams.

[2020-05-13 06:12] beele commented on #36
@nzbullet the upper/lowercase 'Person' should not matter (it should be all lower case, I will fix that in my demo config). I convert it to lowercase in the code anyway.

I've seem to have tracked down the issue, it was a combination of me removing the step to rebuild the tfjs-lib (thinking it was not needed anymore) and missing dependencies (g++ on my linux test system).
I've added a new wiki page

[2020-05-13 06:16] beele commented on #36
Latest version (0.3.1) should have this resolved.
@hfagelnour if you are still having issues check: https://github.com/beele/homebridge-unifi-protect-camera-motion/wiki/Trouble-installing-the-plugin%3F
and post a full install log

[2020-05-13 08:10] #37 closed

[2020-05-13 08:45] beele commented on #36
Latest versions contains a number of fixes (0.3.3)

[2020-05-13 08:45] #31 closed

[2020-05-13 08:47] beele commented on #37
Try the latest build, this has improvements for this (0.3.3)

[2020-05-13 08:49] beele commented on #35
The latest version (non beta, 0.3.3) should contain a lot of fixes.
If this does not fix it we'll have to look at why ffmpeg is not working correctly.
Do you have any special network or AV software on your mac (little snitch/charles/proxy) and is the OS firewall enabled or disabled? OS version (high siera/catalina?)

[2020-05-13 08:58] beele commented on #34
I've done some digging and these messages come from homebridge itself, not from the plugin.
My code is based on homebridge-camera-ffmpeg (1.0.0) and that (and mine) uses an old way of adding camera's.

This is not very high on my backlog. If homebridge-camera-ffmpeg updates to the new way I'll port that over. If not I'll have a look at this myself somewhere in the future.

[2020-05-13 09:00] beele commented on #36
This should be fixed, I cannot reproduce this myself anymore

[2020-05-13 09:00] #36 closed

[2020-05-13 14:31] JJJ commented on #20
Looks like, it may _not_ be related to `http` and `https`, and that simply restarting Homebridge was enough for the cameras to be found.

Here is a very, very long log, from version 0.3.3.

[jjj-log.txt](https://github.com/beele/homebridge-unifi-protect-camera-motion/files/4622528/jjj-log.txt)

[2020-05-13 15:26] jonbloom commented on #20
@beele This is looking good. I've got it running here with my UDM Pro (on UniFi OS) with 5 cameras successfully. Thanks!

[2020-05-13 15:42] dvlamoen commented on #35
Ok, rolled back the beta and installed 0.3.3.

Its a clean system install. Here is the log of things installed:
- node
- brew
- sublime
- chrome
- xtools
- homebridge / hombridge ux
- brew install pkg-config cairo pango libpng jpeg giflib librsvg
- sudo npm install homebridge-unifi-protect-camera-motion -g --unsafe-perm=true
[Log Dump.txt](https://github.com/beele/homebridge-unifi-protect-camera-m

[2020-05-13 17:38] JJJ commented on #20
@beele I completely rebuilt my Homebridge installation from scratch, and currently am not able to duplicate the issues I just reported above.

Going to keep on eye on it.

I think, in my opinion, closing this issue as resolved might be OK. That way we can open new issues for specifics that we run into with the implementation?

[2020-05-13 17:42] beele commented on #20
@JJJ Glad to hear it's fixed.

I agree, the main unifi os support seems to be working. If any issues come up they are better of in their own issues.

[2020-05-13 17:42] #20 closed

[2020-05-13 17:49] beele commented on #35
It seems that node has issues calling ffmpeg (it can't find the ffmpeg command)

[5/13/2020, 8:40:53 AM] [Unifi protect cameras & motion sensors] Error: spawn ffmpeg ENOENT
    at Process.ChildProcess._handle.onexit (internal/child_process.js:267:19)
    at onErrorNT (internal/child_process.js:469:16)
    at processTicksAndRejections (internal/process/task_queues.js:84:21) {
  errno: 'ENOENT',
  c

[2020-05-14 02:06] hfagelnour commented on #35
@beele I was getting ffmpeg exit error 1 until i added
"mapaudio": "0:0",
 "mapvideo": "0:1"
in my config which solved the problem

only left out with the one frame per 15 seconds now, which isn't the case when i use the RTSP feed directly with the Camera FFMEG plugin.

[2020-05-14 06:03] beele commented on #35
@hfagelnour
Ok good to hear that it's (mostly) working now.

It' already in the code:
`videoConfigCopy.source = '-rtsp_transport tcp -re -i ' + this.config.unifi.controller_rtsp + '/' + Unifi.pickHighestQualityAlias(camera.streams);`

[2020-05-14 09:31] hfagelnour commented on #35
@beele this is very weird, I am currently running 2 instances On the same home app room page for the same cameras to compare, one thru your plugin and the other thru the ffmpeg camera plugin.....  beats me if the same config setting on both. Why does one update every second and the other every 15!!!!

[2020-05-14 15:38] dvlamoen commented on #35
Ok, with a fresh install of FFmpeg (brew install ffmpeg) I am now producing snapshots every ~10 seconds (Yay!). Upon stream initiation I am now seeing an Error 1.

@hfagelnour I tried your
"mapaudio": "0:0",
"mapvideo": "0:1"
unfortunately (but perhaps logically if its already in the code, didn't make a difference).

Looking through the detailed logging, it looks like its reaching FFMPEG for the s

[2020-05-14 17:50] maloo0 opened #38 "Cannot get cameras: Error: ERROR: Could not enumerate motion sensors: Error: Authentication failed: {}"
Hi everyone,

I am getting the following error.

_[Unifi protect cameras & motion sensors] Initializing UnifiProtectMotion platform...
[Unifi protect cameras & motion sensors]  Endpoint Style: Unifi Protect (Legacy)
[Unifi protect cameras & motion sensors]  WARNING: No previous session foung, a new session must be created!
[Unifi protect cameras & motion sensors]  Cannot get cameras: Error: ERROR:

[2020-05-15 17:06] crxporter opened #39 "Two way audio with the doorbell?"
I just scored a G4 doorbell on the beta store.

The API should have everything needed for motion and button alerts. I'm pretty well set there.

When it comes I'm planning to get working on two way audio ... does anyone have any pointers or tips on this? I'm unsure whether HAP-nodejs and/or homebridge has completely figured out two way audio. Also unsure how the two way audio works on the doorbell.

[2020-05-16 00:43] s1rc opened #40 "Support for not using @tensorflow/tfjs-node (FreeBSD)"
I've been running homebridge-camera-ffmpeg for a long time but I want to switch to your plugin to make use of motion events.

Since I'm running FreeBSD, ffmpeg-for-homebridge gives the error `ffmpeg-for-homebridge: freebsd x64 is not supported, you will need to install/compile ffmpeg manually.` And I have done this, since  homebridge-camera-ffmpeg works fine with it.

homebridge-camera-ffmpeg allo

[2020-05-16 00:52] s1rc commented on #40
After doing some more digging, I think the issue is @tensorflow/tfjs-node is not supported.

I found this error:
[code]

Is it possible to use this plugin with just the UniFi protect score?

[2020-05-17 15:31] pelowj opened #41 "Cameras add to Homebridge but don't show in Home"
Are there any known issues with cameras adding successfully to Homebridge but then not showing up in Home? Nothing I do seems to work to add them, but other plugins seem to work as expected. I'm on 1.14.10-beta.4 on a UDM-Pro logging in with Unifi OS credentials.

-Jp

[2020-05-18 07:16] VentingBow5 commented on #19
Hi beele,

I do have the same problem with a UVC G3 Pro.

[5/18/2020, 09:05:17] [Unifi protect cameras & motion sensors] Start streaming video from Voordeur with 640:360@15fps (132kBit)
[5/18/2020, 09:05:22] [Unifi protect cameras & motion sensors] ERROR: FFmpeg exited with code 1
[5/18/2020, 09:05:35] [Unifi protect cameras & motion sensors] Snapshot from Achterdeur at 480:270

I added the _"debu

[2020-05-18 15:22] beele commented on #38
You should not put a / behind the controller url

[2020-05-18 15:25] beele commented on #41
In your persist folder in the .homebridge there might be files like AccessoryInfo.xxxxxxx.json (where xxxx are random hex values). Open each file in an editor, if the category is 17, and the name matches you camera, delete it and restart homebridge (make a backup first)

[2020-05-18 15:26] beele commented on #40
For now it's not possible to install the plugin without tensorflow

[2020-05-18 15:28] beele commented on #39
I saw a thread on reddit recently about a homebridge plugin that has working two way audio, I'll try to look that up and see what might be useful for implementing this here.

[2020-05-18 16:03] crxporter commented on #39
Awesome, if you can find/share that reddit link I’d appreciate it!

[2020-05-18 16:25] beele commented on #39
https://www.reddit.com/r/homebridge/comments/glo74p/homebridgering_now_supports_2way_audio/
and
https://github.com/dgreif/ring/issues/237#issuecomment-629861348

[2020-05-18 16:28] beele commented on #39
I've had a very quick look and looks to be in https://github.com/dgreif/ring/blob/master/homebridge/camera.ts
I'll have an in depth look later ;)

[2020-05-18 17:13] s1rc commented on #35
@beele I'm having the same issue, fresh Ubuntu VM, Homebridge install and latest  homebridge-unifi-protect-camera-motion.

I tried adding `"videoProcessor": "/usr/lib/node_modules/homebridge-unifi-protect-camera-motion/node_modules/ffmpeg-for-homebridge/ffmpeg"` to my `videoConfig` block, but still the same error.

[2020-05-18 19:23] s1rc commented on #40
I couldn’t get it to work on a fork of your plugin without tensorflow installing.

I’m currently trying the plugin on a fresh Ubuntu VM, but running into other issues with the packaged ffmpeg not being called. I commented in another similar issue: https://github.com/beele/homebridge-unifi-protect-camera-motion/issues/35#issuecomment-630320579

[2020-05-18 19:39] pelowj commented on #41
Hi Beele,

It's a fresh install and homebridge-unifi-protect-camera-motion v0.3.3 is my only camera plugin. I have a Sonos plugin too, but that's it. Removing the AccessoryInfo files didn't seem to make any difference.

-jp

[2020-05-19 05:17] beele commented on #41
@pelowj Ok.
Just to be sure, you are trying to add the camera's in manually but they are not listed? (the camera's are not added to your home automatically)

[2020-05-19 05:19] beele commented on #35
I'm looking into this on a fresh vm install

[2020-05-19 10:16] beele commented on #35
@s1rc @dvlamoen
The newest build (0.3.4) has some fixes (I've tested this on a fresh ubuntu server vm and had the same issue, with my newest fixes it works)

If you had the videoProcessor param in the config remove it!
The videoProcessor config field can still be used, but the location has changed, see the readme. But it shouldn't be needed anymore

[2020-05-19 13:13] s1rc commented on #35
@beele 0.3.4 worked for using the pre-compiled ffmpeg, thank you!

I'll have to play around with other config, my old `homebridge-camera-ffmpeg` config used on FreeBSD isn't giving me video, only one frame every 5-10 seconds and lots of `cur_dts is invalid st:0 (0) [init:0 i_done:0 finish:0] (this is harmless if it occurs once at the start per stream)` logged errors.

I may just get a RPi 4 and ru

[2020-05-19 21:47] pelowj commented on #41
Yeah, I'm trying to add them manually but nothing is coming up. It's running on a raspberry pi, no VM.

Output log as follows:

`[5/19/2020, 22:45:06] [HB Supervisor] Starting Homebridge with extra flags: -I -D
[5/19/2020, 22:45:06] [HB Supervisor] Started Homebridge v1.1.0 with PID: 3903
[5/19/2020, 22:45:08] Loaded config.json with 0 accessories and 2 platforms.
[5/19/2020, 22:45:08] ---
[5/19/2

[2020-05-20 10:39] maloo0 commented on #38
Hi beele,

Thanks a lot!
That was the fault.

Now it's working fine with the following config:
(Maybe it could help someone)

_{
            "name": "Unifi protect cameras & motion sensors",
            "unifi": {
                "enhanced_classes": [
                    "person"
                ],
                "controller": "https://192.168.1.1:7443",
                "controller_rtsp": "rtsp:/

[2020-05-20 15:32] beele commented on #41
@pelowj I see all your camera names have a . in it. Maybe that is causing issues?
Or it could be a network issue.
If you add another camera via another plugin, can you add that to home app?

[2020-05-20 15:34] beele commented on #38
The quality is hard to improve since ios requests a low bitrate stream. I'm still looking for a way to improve this although I don't know if it's event possible.

You could disable the enhanced motion detection, or play with the detection thresholds (both in the config and in the protect UI)

[2020-05-20 16:14] pelowj commented on #41
Bingo! I removed the full-stop and they all showed up straight away!

[2020-05-20 16:15] a-rodriguez opened #42 "Install on"
I am getting a failure when I try to install. I am using the official [Raspberry Pi Image](https://github.com/homebridge/homebridge-raspbian-image/). Any suggestions?

`USER: pi
DIR: /usr/local/lib
CMD: sudo -E -n npm install homebridge-unifi-protect-camera-motion@latest

npm WARN deprecated request@2.88.2: request has been deprecated, see https://github.com/request/request/issues/3142

ffmpeg ver

[2020-05-21 15:28] mrhsiao opened #43 "After the latest update it can't work anymore"
The requested platform "UnifiProtectMotion" was not registered by any plugin.
Your config.json is requesting the platform "UnifiProtectMotion" which has not been published by any installed plugins.

[2020-05-22 00:09] crxporter commented on #39
My doorbell came today. The API is about what I expected except nothing new in the talkback settings. That doesn’t change even if I’m using the app to do 2-way audio.

The 'lastRing' field is updated with “now” every time the button is pressed so button press alerts will be really easy. It’ll be a programmable switch event. Based on previous testing, a payload of 0 to programmable switch linked to

[2020-05-23 03:51] crxporter commented on #39
I spent some time this afternoon trying to get audio playing on the doorbell without much luck. I was working with some guys from the link I referenced above (Feature request: audio stream #232)

We are trying to play audio on the bell from a video file "bunny.mp4". This is where things are with the command:
[code]

The endpoint with port 7004 is what shows in the talkbackSettings output on the AP

[2020-05-24 11:07] VentingBow5 opened #44 "ERROR: FFmpeg exited with code 1"
Hi beele,

I do have the same problem with a UVC G3 Pro as @mrhsiao.

[5/24/2020, 13:03:20] [Unifi Protect] Start streaming video from Achterdeur with 640:360@15fps (132kBit)
[5/24/2020, 13:03:28] [Unifi Protect] ERROR: FFmpeg exited with code 1

It is a fresh install with one other plugin installed: Ring.

Cheers.

[2020-05-25 00:01] tslamparter commented on #44
I'm having the same issue. Fresh install on my new RPi 4, 4gig. I used the official homebridge image. Here is what I have from my logs. (Node.js Version = v12.16.3, Npm Version = v6.14.5)

**ffmpeg version:**
ffmpeg version 4.2.git-47773f7 Copyright (c) 2000-2020 the FFmpeg developers
built with gcc 6.3.0 (Raspbian 6.3.0-18+rpi1+deb9u1) 20170516
configuration: --pkgconfigdir=/build/workspace/lib/p

[2020-05-25 13:24] ciscosurplus commented on #44
I was having the same issue until I increased max width, max height and max bitrate.

1024 and 576 seem to request a lower def stream

[2020-05-25 17:08] alezanott commented on #43
Same for me. @beele Can you help us?
[code]

[2020-05-25 17:11] beele commented on #42
You have not installed the node-canvas prerequisites...
`Package pixman-1 was not found in the pkg-config search path.`

[2020-05-25 17:11] #42 closed

[2020-05-25 17:11] #41 closed

[2020-05-25 17:14] #38 closed

[2020-05-25 17:16] beele commented on #43
Did you guys use:` sudo npm install homebridge-unifi-protect-camera-motion -g --unsafe-perm=true` to install the plugin?

Are you running V1.X.X of homebridge? Older versions are no longer supported.

[2020-05-25 17:21] beele commented on #44
@VentingBow5 @tslamparter If you install the homebridge-camera-ffmpeg plugin and put the camera rtsp url in there, does the video work then, if so the problem is not with ffmpeg and we need to look further.

[2020-05-25 18:05] beele commented on #34
#39 related

[2020-05-25 19:36] a-rodriguez commented on #44
I am having the same issue. @beele I tried what you suggested above with homebridge-camera-ffmpeg and I am getting the same error.

`[5/25/2020, 15:34:05] [Camera-ffmpeg] Start streaming video from Front Door Test with 1280:720@10fps (299kBit)
[5/25/2020, 15:34:05] [Camera-ffmpeg] ERROR: FFmpeg exited with code 1`

Let me know if I can provide more details.

[2020-05-25 19:44] a-rodriguez commented on #42
Thanks, I incorrectly assumed it would get installed as part of the package - no idea why I thought that.

[2020-05-25 20:28] tslamparter commented on #44
@beele I tried your suggestion and still get an exited code 1 from the homebridge-camera-ffmpeg plugin. I played around with the max height, width, and bitrate and couldn't get any combination to work.

[2020-05-25 20:35] ciscosurplus commented on #44
My working config I also updated to the latest ffmpeg homebrigde

  "videoConfig": {
                "maxStreams": 2,
                "maxWidth": 1920,
                "maxHeight": 1080,
                "maxFPS": 30,
                "mapvideo": "0:1",
                "mapaudio": "0:0",
                "maxBitrate": 600000,
                "vcodec": "h264_omx",
                "packetSize": 1128,

[2020-05-26 00:45] tslamparter commented on #44
Thanks @ciscosurplus . I got mine to work, but the quality is very bad and the audio chops. Any ideas? The stream looks fine in VLC on my mac so I assume it's the RPi. I increased its GPU memory to 512 and it didn't help.

[2020-05-26 02:43] jirajared opened #45 "TensorFlow binary was not compiled to use: AVX2 FMA"
Wondering if you could point me in the right direction. Followed your guide to the T incl switching to the :ubuntu docker release.
Currently using an Intel NUC but getting the following error:
`Your CPU supports instructions that this TensorFlow binary was not compiled to use: AVX2 FMA`

Is there a way to re-compile TensorFlow to include AVX2 FMA?

[2020-05-26 06:08] beele commented on #45
There is a way, but it is out of scope of this project due to the complexity involved.

[2020-05-26 06:11] #45 closed

[2020-05-26 06:12] beele commented on #44
The quality is limited by what ios requests the stream as (usually a very low res and low bitrate).
Since homebridge-camera-ffmpeg is also not working this is not an issue with this plugin and the problem lies with your ffmpeg settings/configuration parameters.

[2020-05-26 06:13] VentingBow5 commented on #44
@beele I also tried your suggestion of installing Homebridge Camera FFmpeg but still get an exited code 1 from the plugin.

[5/26/2020, 08:12:10] [Camera-ffmpeg] Start streaming video from Achterdeur with 1280:720@15fps (299kBit)
[5/26/2020, 08:12:17] [Camera-ffmpeg] ERROR: FFmpeg exited with code 1

I will now try the settings as provided by @ciscosurplus.

[2020-05-26 06:18] VentingBow5 commented on #44
@ciscosurplus I tried your settings but for me this does not work......

[2020-05-26 15:36] maloo0 commented on #38
Thanks for your response again!

Would be nice, if you could improve it sometime.
But first, I am happy that it‘s working at all.

I‘ve disabled enhanced motion detection. It‘s much better now. I am still playing around a little :)

Thanks for all

[2020-05-26 18:11] beele opened #46 "Unifi protect update breaks responsive detection"
After updating my protect to the latest software it seems that the score of ongoing motion events is set to 0 until it's finished. This wasn't the case before and kinda breaks how motion detection works

After a protect motion event with a given score is found then it is passed on to the enhanced motion checker. Because this event with the valid score now comes much much later the actual object to

[2020-05-26 18:12] beele commented on #46
A possible solution for this is to exclude the unifi protect motion events when using the enhanced motion altogether. And to solely rely on the snapshots (every x seconds)

[2020-05-27 05:44] beele commented on #44
@VentingBow5 what is you host os? (version of os/node/homebridge/cpu-architecture)

[2020-05-27 09:43] VentingBow5 commented on #44
I used the Official Homebridge Raspberry Pi Image. Hardware is Raspberry Pi 3B

OS: Raspbian GNU/Linux 10 (buster)
Node: v12.16.3
Homebridge version: Linux homebridge 4.19.97-v7+
CPU architecture: armv71

[2020-05-27 19:30] matellis opened #47 "Streaming freeze in HomeKit app"
Got everything working and setup. Snapshots are working fine. Streaming however results in a spinner showing in the middle of the video on the HomeKit app and no active video, just the last snapshot. On the homebridge end you see streaming successfully starting and stopping. In debug mode, you see it running at speed around 1x (sometimes 1.01x) for the precise time the video feed is open.

What am

[2020-05-28 22:15] miwagner1 commented on #44
This works for me with reduced delay.

[code]

[2020-05-29 05:28] VentingBow5 commented on #44
This work for me as well @miwagner1 !! Thanks for this.

[2020-05-29 05:40] beele commented on #47
- homebridge running on?
- camera hardware?
- is it working if you use camera-homebridge-ffmpeg
- logging

[2020-05-29 05:49] beele commented on #44
I'll be adding a wiki entry with different ffmpeg configs. I still don't quite understand why there is such a variety in ffmpeg configs that do/don't work with the same type of hardware.

@miwagner1 What camera's do you have?

[2020-05-29 08:39] matellis commented on #47
- Hardware: initially a 3B, I migrated to an RPI4 in case it was an ethernet limit - same result
- Camera hardware: UVC G4 Pro or UVC G3 Flex - same result
- Not sure what 'use camera-homebridge-ffmepg' means. I'm using https://github.com/homebridge-plugins/homebridge-camera-ffmpeg as the ffmpeg plugin. The feeds worked great with another homebridge plugin (protect2) but not sure if they were simp

[2020-05-29 11:24] miwagner1 commented on #44
A g3 Flex and a g3 micro. Since the stream is already h264, the copy function uses minimal resources on a raspberry pi due to skipping the need to re encode. It also reduces the stream delay.

[2020-05-29 11:52] a-rodriguez commented on #44
@miwagner1 This worked for me also, thank you!
@beele Not sure if it helps, but I have UVC G3 and UVC G3 Flex. Just a suggestion, not sure if its possible, would be nice to edit mapvideo, mapaudio and videoFilter via the setting GUI if using Homebridge Config UI X. Thanks again for all the work on this.

[2020-05-29 20:40] crxporter opened #48 "Doorbell setup"
@beele - I'm not personally using your plugin but for the good of the community and all I thought it would be nice to open an issue about the doorbell and share a little about what I'm doing. I'll watch the topic, feel free to ask what I've done.

I've got mine set up now with video, 1-way audio, motion, and doorbell button presses. The first 3 of those should work out of the box with your existin

[2020-05-29 23:25] alezanott commented on #43
@beele I'm currently running everything on HOOBS. I've done the update as the previous ones, without any kind of issue. This time seems that there's an error in the update

[2020-05-30 01:31] miwagner1 commented on #44
Ideally the “copy” config should be the preferred configuration due to performance and quality.

[2020-05-30 21:25] tslamparter commented on #44
@miwagner1 this helped mine stream a lot. The audio is still slightly choppy, but video is far superior. I have UVC-G3-BULLETs. Thanks!

@beele I also just migrated to a UDMP yesterday and had to go through the issue thread to figure out what needed to be changed in my config. Maybe a sample config for Unifi OS would be helpful as well. The only change was taking out the port number for the contro

[2020-05-31 15:32] janthony6 opened #49 "Unifi OS: Authenticated, returning session - Cannot get cameras"
**Describe the bug**
Installed the plugin and finally got it to Authenticate.  I'm using a UDMP with Unifi-OS.

**Specifications**
RPBi4
UDMP - UnifiOS

**Logging**
[Unifi protect cameras & motion sensors] Authenticated, returning session
[Unifi protect cameras & motion sensors] Cannot get cameras: Error: ERROR: Could not enumerate motion sensors: Error: Invalid response, missing: cameras on data

[2020-06-01 15:37] beele commented on #48
Thx for the info, I'll be looking to add this in the future!

[2020-06-01 15:40] beele commented on #47
Seems to be an issue with FFmpeg, A partial debug log would be very handy.
You are using both https://github.com/homebridge-plugins/homebridge-camera-ffmpeg and this plugin?
What I meant by using said url is too remove this plugin, or disable it. and test with the other one, It's the one my code for the camera logic is based on.

[2020-06-02 18:17] beele commented on #49
Could you provide a debug log? (be sure to redact sensitive data/information from it)

[2020-06-07 05:45] 3uperduck commented on #49
I've same problem
RPi 3B
UDMP with Unifi-OS.
G3 Fiex

log
 [Unifi] Endpoint Style: UnifiOS
 [Unifi] WARNING: No previous session found, a new session must be created!
 [Unifi] Authenticated, returning session
 [Unifi] Cannot get cameras: Error: ERROR: Could not enumerate motion sensors: Error: Invalid response, missing: cameras on data

config.json
{
            "name": "Unifi",
            "unifi

[2020-06-08 20:31] cmfrazier commented on #49
Same issue here.
Protect Controller 1.14.10

`{
            "name": "Unifi protect cameras & motion sensors",
            "unifi": {
                "enhanced_classes": [],
                "controller": "https://10.0.1.1/protect",
                "controller_rtsp": "rtsp://10.0.1.1:7447",
                "username": "####",
                "password": "####",
                "motion_interval": 500

[2020-06-11 11:36] beele commented on #49
without debug logs I can't really do much...

[2020-06-11 11:53] 3uperduck commented on #49
how does debug full logs mean?

[2020-06-11 11:55] beele commented on #49
set the debug option to true in the unifi config object: https://github.com/beele/homebridge-unifi-protect-camera-motion#unifi-config-fields
restart homebridge and pipe the output of it to a file. Redact passwords & tokens from that file and upload it here.

[2020-06-11 12:00] 3uperduck commented on #49
That's it

[2020-6-11 7:57:01 ├F10: PM┤] [Unifi] Endpoint Style: UnifiOS
[2020-6-11 7:57:01 ├F10: PM┤] [Unifi] WARNING: No previous session found, a new session must be created!
[2020-6-11 7:57:01 ├F10: PM┤] [Unifi] {
  url: 'https://192.168.50.1/protect//api/auth/login',
  method: 'post',
  data: { username: '----------------', password: '--------------' },
  headers: {
    common: { Accept: 'app

[2020-06-11 12:05] 3uperduck commented on #49
That's it

[2020-6-11 7:57:01 ├F10: PM┤] [Unifi] Endpoint Style: UnifiOS
[2020-6-11 7:57:01 ├F10: PM┤] [Unifi] WARNING: No previous session found, a new session must be created!
[2020-6-11 7:57:01 ├F10: PM┤] [Unifi] {
  url: 'https://192.168.50.1/protect//api/auth/login',
  method: 'post',
  data: { username: '----------------', password: '--------------' },
  headers: {
    common: { Accept: 'app

[2020-06-11 12:07] 3uperduck commented on #49
I've change "https://192.168.50.1/protect/" to "https://192.168.50.1/protect"
but same result

[2020-06-11 12:09] beele commented on #49
The strange thing is that the login is working but the subsequent call returns no data...

[2020-06-11 12:12] 3uperduck commented on #49
yeah, Unifi is always open beta......

[2020-06-11 20:22] cmfrazier commented on #49
[code]

[2020-06-19 14:28] MaverickC2 opened #51 "tensorflow install issue"
5081 verbose cwd /home/pi
5082 verbose Linux 4.19.118-v7l+
5083 verbose argv "/usr/local/bin/node" "/usr/local/bin/npm" "install" "homebridge-unifi-protect-camera-motion" "-g" "--unsafe-perm=true"
5084 verbose node v12.18.1
5085 verbose npm  v6.14.5
5086 error code ELIFECYCLE
5087 error errno 1
5088 error @tensorflow/tfjs-node@1.2.11 install: `node scripts/install.js`
5088 error Exit status 1
5089

[2020-06-25 21:14] alezanott commented on #43
@beele
I've just made a fresh install of HOOBS on my raspberry pi 3, now is impossible to install the updated plugin. Here the output:
[code]

[2020-06-25 21:23] alezanott commented on #43
@beele I've just made a fresh install of HOOBS and the plugin. I've encountered the same problem as before. Here the output:
[code]

[2020-06-26 08:18] #47 closed

[2020-06-26 08:19] beele commented on #43
What does your config look like?
What node/homebridge/plugin versions are you using?

[2020-06-26 08:21] #40 closed

[2020-06-26 08:22] #44 closed

[2020-06-26 08:22] beele commented on #48
Doorbell support is in the works (without two way audio).

[2020-06-26 08:23] #35 closed

[2020-06-26 08:24] beele commented on #34
I've got the new camera setup implemented in a separate branch (no longer manually need to add cams).
This will be in the next release

[2020-06-26 08:24] beele commented on #21
homebridge-camera-ffmpeg is adding mqtt support in the future.
Once that is release I'll see if this can easily be implemented in this plugin

[2020-06-26 08:26] beele commented on #49
HELP WANTED.
I need someone with an UDM & dev knowledge.
==> I need an example (postman request, can be screenshots) of how the request should look and what the response is to get the overview of the cameras

[2020-06-26 08:27] beele commented on #51
I'm looking into fixing tensorflow issues for future releases.
As for this error, it looks like there's an invalid certificate, hopefully they renew it

[2020-06-26 09:03] durosity commented on #48
Do ya think two-way audio is something that will come?  My holy grail would be a unifi doorbell* with Homebridge supporting 2-way audio.

*preferably if they made a POE doorbell.  Oooh the thought of all that sounds like doorbell nirvana!

[2020-06-26 12:53] crxporter commented on #48
The issue with 2-way audio is that nobody but unifi knows how to send audio to the camera. I spent a couple of days trying to make it happen with no success.

I believe there’s a token for authentication which is sent from the nvr (dream machine pro for me) to the camera. I plan to give it another try sometime - if anyone has suggestions for making it work, please share!

[2020-06-30 08:22] alezanott commented on #43
@beele
Here my config: ```
{
    "server": {
        "port": 80,
        "origin": "*",
        "autostart": 0,
        "home_setup_id": "X-HM://0023ISYWY82JP",
        "polling_seconds": 5
    },
    "client": {
        "default_route": "status",
        "inactive_logoff": 30,
        "theme": "hoobs-dark",
        "locale": "en",
        "temp_units": "celsius",
        "country_code": "IT",

[2020-06-30 16:10] madrobby commented on #49
Hi there, I've the exact same issue.

[code]

[2020-06-30 21:44] sullyhome opened #53 "ERROR: FFmpeg exited with code 1"
I see there is a "closed" issue on this but I am unable to get this to work . This is a fresh install. Within the home app I get "no response" from the cameras. In the log file I get "ERROR: FFmpeg exited with code 1". Have tried the couple configs in the closed issue with no success.

This is connecting to the newest Unifi NVR. G3 Bullet and G3 Flex Cameras. homebridge-camera-ffmpeg and homebridg

[2020-06-30 23:25] sullyhome commented on #44
No luck for me with those settings for G3 Bullet Cameras. (or G3 Flex)

[2020-07-01 13:33] beele commented on #53
Can you try with the beta build?
`sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.0-Beta.7`
And please check the adjusted readme on this branch for config changes: https://github.com/beele/homebridge-unifi-protect-camera-motion/tree/feature/rework-camera-and-tfjs

[2020-07-01 13:34] beele commented on #53
I've tested this build with both my rbpi3 on buster macosx catalina and a linux mint vm (which needs g++ to be installed)

[2020-07-01 13:35] beele commented on #51
@MaverickC2
Can you try with the beta build?
sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.0-Beta.7
And please check the adjusted readme on this branch for config changes: https://github.com/beele/homebridge-unifi-protect-camera-motion/tree/feature/rework-camera-and-tfjs

[2020-07-01 13:36] beele commented on #34
Beta build available, this will require you to remove the old camera accessories as these will stop working!

`sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.0-Beta.7`
And please check the adjusted readme on this branch for config changes: https://github.com/beele/homebridge-unifi-protect-camera-motion/tree/feature/rework-camera-and-tfjs

[2020-07-01 13:36] sullyhome commented on #53
Yep will try later today and report back.

[2020-07-01 14:16] sullyhome commented on #53
No luck with the beta build. All the cameras still show "no response". I do like that it adds all the cameras at once though that is nice.

[2020-07-01 16:21] beele commented on #53
any reason you are using libx264 for vcodec instead of h264 (or h264_omx on rbpi)?

[2020-07-01 16:24] sullyhome commented on #53
copied it out of the wiki. I changed to h264 with the beta to match the new wiki config. Also tried copy with no luck.

[2020-07-01 16:32] beele commented on #53
Hmm ok, strange FFmpeg can be tricky to get working correctly on various setups.
What OS/node/homebridge versions are you running?

[2020-07-01 16:39] sullyhome commented on #53
Buster, Node v12.10.1, Homebridge v1.1.1

[2020-07-01 16:50] JJJ commented on #34
Is that requirement going to persist even out of beta?

Deleting and re-adding cameras isn't particularly difficult, but it is relatively annoying, and in my experience I almost always have to re-setup all of their related automations.

I imagine some kind of migration from the old way to the new way would be the way to try and go?

[2020-07-01 16:52] beele commented on #34
No it will be required to remove the old cameras (as they won’t work anymore) and the new ones are added automatically, they are not compatible so no migration

[2020-07-01 18:22] beele commented on #53
Ok, are you running on a rbpi?

[2020-07-01 18:52] sullyhome commented on #53
yes. Pi 4

[2020-07-01 19:02] beele commented on #53
Ok, I have the same setup so we should be able to get this working.
If you install the latest version of homebridge-camera-ffmpeg (v2.x.x) does that work (and if so with what config)?

[2020-07-01 19:44] sullyhome commented on #53
It does work with homebridge-camera-ffmpeg albeit the camera is slow. That was with whatever the default configuration settings were. It works flawlessly with homebridge-unifi-protect2 (again with the default config settings). My current setup was a fresh install of everything so I could just focus on this software so those are not installed currently.

The only difference I can tell from our setu

[2020-07-02 05:23] beele commented on #53
Do the snapshots work in the home app? (is they do ffmpeg should be working and it is the stream settings that are messed up, if not ffmpeg is not working correctly)

[2020-07-02 05:23] beele commented on #49
I don't have the required device so unless someone provides me with the info I need this will not get fixed

[2020-07-02 09:03] beele commented on #43
Can you provide a full log when you start up homebridge, cause this is most likely caused by an error when loading the plugin

[2020-07-02 11:20] sullyhome commented on #53
They don’t work for this package (do for the other two). How would you recommend I troubleshoot??

[2020-07-02 11:58] cmfrazier commented on #49
I’m happy to help, but I need a little instruction. I’m familiar with SSHing into my UDMP, jut need some direction from there.

[2020-07-02 12:04] beele commented on #53
Can you try with the latest beta, it has an updated ffmpeg dependency that now will correctly print debug info
`sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.1-Beta.1`
Make sure to start homebridge with the -D option to enable the debug logging.
Please post the output from the console when starting a stream

[2020-07-02 12:29] sullyhome commented on #53
[7/2/2020, 8:26:54 AM] [Unifi protect cameras & motion sensors] Starting video stream (1280x720, 15 fps, 299 kbps, 1378 mtu)...
[7/2/2020, 8:26:54 AM] [Unifi protect cameras & motion sensors] FFMPEG: received first frame
[7/2/2020, 8:27:09 AM] [Unifi protect cameras & motion sensors] Snapshot from UVC G3 - 5 at 480:270
[7/2/2020, 8:27:09 AM] [Unifi protect cameras & motion sensors] Snapshot from T

[2020-07-02 12:30] sullyhome commented on #53
Does the fact that I have the microphone disabled on the cameras make a difference?

[2020-07-02 15:15] madrobby commented on #49
Happy to help as well if you give detailed instructions of what info you need! I’ve been a programmer for 30 years. :) But haven’t done anything with the Unifi APIs.

[2020-07-02 16:24] DerrickGibbs1 commented on #53
Try renaming your camera. This appears to be related to https://github.com/homebridge-plugins/homebridge-camera-ffmpeg/issues/579 and https://github.com/homebridge-plugins/homebridge-camera-ffmpeg/issues/554

[2020-07-02 16:54] sullyhome commented on #53
No luck still. It recognized the camera name changes but homekit but cameras still show "no response" and log file says the same as above.

[2020-07-02 17:48] wr commented on #49
Also happy to help.

[2020-07-03 05:44] beele commented on #49
Ok, so here's what you can attempt:

- Open a browser window
- Open dev dev tools (and set it to the network tab, filter on XHR only and also tick the disable cache option)
- Navigate to your protect environment (for my non unifi OS this is https://cloud-key-ip:protect-dashboard-port)
- Login to your protect account and wait until the protect dashboard has loaded (on my non unifi OS setup it will

[2020-07-03 06:31] wr commented on #49
Here is the full response for the bootstrap call, with sensitive info removed. This is a UDM Pro on the latest stable fw with a single G4 Pro camera on the latest stable fw:

[code]

[2020-07-03 06:34] beele commented on #49
Thx, that looks like what I expected.
Could you also provide the request headers, possible there is something missing or not set correctly from the plugin which causes the bootstrap call to return some html (probably an error) instead of the json data

[2020-07-03 06:39] wr commented on #49
yep, apologies, was just about to edit my comment but I'll put the headers here for continuity:

[code]

[2020-07-03 06:49] beele commented on #49
Can you try with this beta build (probably will not work yet, but I've added some logging, no debug flag required)
Please be reminded that this is the new beta branch with the new camera setup so any old cameras in the home app will no longer work (incompatible with the new camera setup)
`sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.1-Beta.2`

[2020-07-03 06:59] wr commented on #49
here's the log output:

[code]

I also tried `https://{{udm ip}}` alone, which doesn't work and doesn't spit out the logs. I also tried `https://{{udm ip}}/` which did return the logs— `"url": "https://{{udm ip}}//proxy/protect/api/bootstrap",`

[2020-07-03 07:03] beele commented on #49
Hmmm, could you try with a tool like Postman to create a get request with the request headers as shown in the debug output?
If it doesn't work we could try adding more headers like Host/Referer.
I also see that my plugin adds the "; path=/; secure; httponly" to the token while I don't see that in the browser output (could be hidden maybe)

[2020-07-03 07:04] wr commented on #49
I’ve never used that, so I’ll have to do some learning first. Bedtime for now though.

[2020-07-03 07:10] beele commented on #49
Ok, thx for helping out!
I've also pushed a new beta build with which now also logs the response code/text & body
`sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.1-Beta.3`

[2020-07-03 14:48] wr commented on #49
[code]

[2020-07-04 15:49] madrobby commented on #49
@beele If you like we could schedule a session where I can give you remote access to the Mac Mini that's running  homebridge for me, so you could debug there. DM me if interested. :)

[2020-07-05 17:08] beele commented on #49
@wr Ok seems like something is wrong with the request, just need to figure out what.
@madrobby Ok we might be able to set something up in the coming week.

I've created a postman collection with the request: https://www.getpostman.com/collections/efa3c973b8ff004bbb46
You should be able to open this in postman and replace the {{}} params with your actual values (you can get them from the homebridge

[2020-07-06 15:20] wr commented on #49
@beele I've run that in Postman and played around a bit with the request, and I think I've found the issue.

The URL we're trying to hit is `https://{{udm ip}}/protect/proxy/protect/api/bootstrap`, which gets us this response:
[code]

but when I tried `https://{{udm ip}}/proxy/protect/api/bootstrap`, I get this response:
[code]

[2020-07-06 17:49] beele commented on #49
@wr thx for the info!

@janthony6 @3uperduck @cmfrazier @madrobby
To what is the controller url set in your config?
It should be set to just the bare ip/domain of your device running Unifi OS (not with a /protect at the end!)
Stupid of me to only notice this now but I was reading in the old closed ticket about unifi OS.

[2020-07-06 17:56] cmfrazier commented on #49
@beele removing `/protect` from the controller URL fixed it.

[2020-07-06 17:59] wr commented on #49
i have tried a few different urls, all without success:

`https://{{udm ip}}` - returns no debug data on the latest beta
`https://{{udm ip}}` - returns debug data showing an extra slash in the request url (`"url": "https://10.0.1.1//proxy/protect/api/bootstrap",` but still no cameras in Homekit

I've also tried with `/protect` in the url with no luck, but obviously it *shouldn't* work based on wha

[2020-07-06 18:05] beele commented on #49
@wr I'm looking in the code and find the // issue very weird.
That the double // works is ok, the url parser probably ignores the double slash, that it doesn't work without the trailing slash is what I'm trying to figure out

[2020-07-06 18:06] beele commented on #49
@cmfrazier Are you running the latest beta I posted or an earlier version of the plugin?

[2020-07-06 18:12] wr commented on #49
yeah, especially weird that it works now for @cmfrazier—i'm envious! :D

[2020-07-06 18:13] cmfrazier commented on #49
No beta, just the latest public version.

[2020-07-06 18:18] beele commented on #49
@wr I've published a new beta with some small code rollbacks that are different between the latest public and the beta.

`sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.1-Beta.4`

[2020-07-06 18:25] wr commented on #49
[7/6/2020, 11:23:26 AM] [Unifi protect cameras & motion sensors] Endpoint Style: UnifiOS
[7/6/2020, 11:23:26 AM] [Unifi protect cameras & motion sensors] WARNING: No previous session found, a new session must be created!
{
    "url": "https://{{udm ip}}/api/auth/login",
    "method": "post",
    "headers": {
        "Content-Type": "application/json",
        "X-CSRF-Token": "{{csrf token}}"
    }

[2020-07-06 18:28] madrobby commented on #49
Seeing the same with latest beta as @wr above

[2020-07-06 18:34] beele commented on #49
Is that with the / at the end? Because I don't see a double slash in the url.

[2020-07-06 18:46] wr commented on #49
that was without the trailing slash. here is it with:

[code]

[2020-07-07 00:09] sonoseco commented on #53
@sullyhome did you find a solution? I’m having the same exact issue.

[2020-07-07 00:10] sullyhome commented on #53
Unfortunately I did not. I rebuilt everything fresh again to try and still no luck.

[2020-07-07 06:54] beele commented on #49
@wr was there ay further output from the second call for the cameras?

[2020-07-07 14:02] wr commented on #49
No other output

[2020-07-07 22:16] JJJ commented on #34
I still have not tested this, but do intend to soon.

[2020-07-08 04:40] BadgerBadgerAndFox commented on #48
@beele fantastic news, doorbell support will be great with the upcoming integrations announced for homekit in tvOS 14 for apple tv!

[2020-07-08 04:47] BadgerBadgerAndFox commented on #51
@beele is it possible to have an option to use an external AI engines API for the detection for those that are having trouble with tensorflow and have access to a GPU or VPU backed service like deepstack ai? https://deepstack.cc/

[2020-07-08 06:27] beele commented on #51
@BadgerBadgerAndFox I'll have to have a look for that.
However the beta build should have less issues with tensorflow

[2020-07-08 06:32] beele commented on #49
Hmm seems like the request for the camera info is failing altogether now.
If you try to mimic the same request in postman does it work then? (for the camera data)

[2020-07-08 06:33] beele commented on #48
The beta version does already expose the doorbell functionality (like the base homebridge-camera-ffmpeg does)
So an extra trigger button which will trigger a "someone rung the bell" event in homekit

[2020-07-08 16:54] JJJ commented on #34
I think it's working. 💫

I removed the cameras from HomeKit using the Home app, and confirmed they were gone.

I updated to the beta branch, and restarted Homebridge.

When I re-opened the Home app, the cameras had already magically been added back as devices, which is pretty darn neat!

[2020-07-09 13:09] ntableman opened #54 "Snapshot Saved Too Late"
All the snapshots being saved are maybe 15 seconds after the motion - it is detecting my car (not moving) in the driveway to 96%, which seems reasonable.

But something it triggering it - most likely a car passing on the road - and that is what I want to capture, not a 15 second later image of my parked car.

Any idea on how to tune this plugin to help?

Thanks!

[2020-07-09 15:55] wr commented on #49
It seemed to... when I hit `https://{{udm ip}}/proxy/protect/api/bootstrap` in postman (see my post from a few days ago) I do successfully get the list of cameras.

[2020-07-09 17:29] beele commented on #49
Hmm, seems like this will need some actual debugging.
I'll get in touch with @madrobby to set something up so we can hopefully get this working

[2020-07-09 17:43] beele commented on #54
This is literally mentioned in the readme...

The actual motion detection is done with the snapshot that is requested internally.

But to provide an answer. The new beta version of the plugin uses a new way to add the camera's to homekit and will in 99% of cases provide a notification with the actual snapshot that was used to detect the motion.

[2020-07-16 14:22] andrewoke commented on #16
Well, from wherever you run homebridge you should be able to resolve your cloud keys dns name. If not then you have a dns problem, otherwise it's something else.

[2020-07-17 23:34] mikestecker commented on #39
Just received and installed mine today... watching.

[2020-07-17 23:34] mikestecker commented on #48
Just received and installed mine today... watching.

[2020-07-18 01:54] crxporter commented on #39
Update from my setup: doorbell button presses are 100% reliable and extremely fast. I usually get a snap of the person still reaching towards the bell on my rich notification.

That’s the good news. Bad news is I haven’t gotten back to more digging for 2-way audio. If anyone has pointers please share! I’ll get back to my digging eventually but probably not till mid August or so.

[2020-07-18 15:57] madrobby commented on #49
I've upgraded my UDM-PRO to the latest beta firmware and now cameras are enumerated correctly and I can see snapshots in the Home app. However, I can't live-stream video. What should I take a look at?

[2020-07-19 18:48] hfagelnour commented on #49
What versions of UnifiOS and protect are u running?

[2020-07-19 19:46] madrobby commented on #49
UDM-PRO 1.8.0-rc.7
Protect Controller 1.14.11-beta6, Web UI 1.23.0-beta.9

[2020-07-19 20:29] hfagelnour commented on #49
Strange! I am running the same and still get “can not enumerate cameras”
Would u pls share ur config.jason (removing the credentials of course)

Sent from my iPhone

[2020-07-20 08:44] beele commented on #49
@madrobby
That is good news, you are running the latest available beta version?
(I haven't had the time to get in touch with you yet)
Does your livestream never start or does it exit with an error code in the logging?

@hfagelnour It might indeed be config related.

[2020-07-20 15:09] madrobby commented on #49
@beele Livestream never starts, I don't see anyting in the logs.

[2020-07-21 06:25] beele commented on #49
[code]
That's the video config I use on my main and test setup (on my main setup I do use the omx variant of the vcodec)

[2020-07-21 14:03] madrobby commented on #49
Config:

[code]

[2020-07-21 19:39] hfagelnour commented on #49
Thx so much
It looks like u r using a USG and not a UDMP. Pls correct me if I am wrong

Sent from my iPhone

[2020-07-21 19:46] madrobby commented on #49
You’re wrong, I’m using a UDM-Pro. :)

[2020-07-21 21:19] hfagelnour commented on #49
:) ok may be this is my problem then. I wasn’t using 443 as the controller port.
Thx again

Sent from my iPhone

[2020-07-22 05:05] tronny87 opened #56 "(Asking for help, not a bug...) Compiling Tensorflow on a Synology NAS"
So for months I used to use this plugin on my Raspberry Pi with my UniFi Protect setup and I used to love it, but when I abandoned the Pi for Homebridge use and migrated my entire Homebridge setup to my Synology 918+, I was unaware that this plugin would no longer be compatible.

As it was explained to me, the current prebuilt version of Tensorflow (needed for this plugin to work) is not compatibl

[2020-07-22 16:35] ilyesm opened #57 "HOOBS not finding any cameras"
Hi,

I am trying to install the plugin, and have followed all steps and included the script on the config.json, however in the logs I see the following:

22/07/2020, 17:27:01 The requested platform "UnifiProtectMotion" was not registered by any plugin.
22/07/2020, 17:27:01 Your config.json is requesting the platform "UnifiProtectMotion" which has not been published by any installed plugins.

Any i

[2020-07-23 01:08] tillkruss opened #58 "Stream not starting"
**Describe the bug**
The 3 cameras are successfully detected and even snapshots work, but when I open the stream for any of the cameras in the Home app it just loads forever.

**Specifications**
Homebridge runs on RP4B
NVR is CK Gen2 Plus
Client is iOS 14 Beta

**Logging**
See next comment

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home app
2. Click on any UniFi Protect camer
3. S

[2020-07-23 01:08] tillkruss commented on #58
[code]

[2020-07-23 02:38] tronny87 commented on #51
Would using deepstack finally make this plugin usable on non-AVX CPUs? (Like my Synology NAS)

If yes, sign me up if you need a tester. Lol

[2020-07-23 09:20] alezanott commented on #43
@beele do i need just to activate the verbose mode? can you give me in case the right command to have the full log of the startup sequence of homebridge? thank you

[2020-07-23 18:22] beele commented on #56
I'm afraid compiling tensorflow from scratch is out of scope for this project.
I've tried this myself multiple times and issues always come up.
I'd just run it on a rbpi

[2020-07-23 18:25] beele commented on #51
I've looked into deepstack and it's not gonna be a solution.
It does not run on a rbpi without the use of an external usb accelerator
As for synology systems without AVX, I'm afraid these will not be supported. (If you could cross compile a version of tenforflow without AVX and feed that tar file into the plugin postinstall script)

[2020-07-23 18:25] beele commented on #49
@hfagelnour did you get it working with the corrected URL?

[2020-07-23 18:28] beele commented on #53
Could you try with the latest beta: homebridge-unifi-protect-camera-motion@0.4.1-Beta.5
This latest beta version contains an updated homebridge-camera-ffmpeg with lots of fixes for strange ffmpeg behaviour

[2020-07-23 18:28] beele commented on #58
Could you try with the latest beta: homebridge-unifi-protect-camera-motion@0.4.1-Beta.5

[2020-07-23 18:29] beele commented on #48
The latest beta: homebridge-unifi-protect-camera-motion@0.4.1-Beta.5 has support for the doorbell logic and manual triggers

[2020-07-23 18:29] beele commented on #48
no two way audio though

[2020-07-23 18:31] beele commented on #43
Add the debug: true field to the config and then just pipe the homebridge output to a .txt file (redact where needed) and add it here

[2020-07-23 18:31] beele commented on #34
mostly done in: homebridge-unifi-protect-camera-motion@0.4.1-Beta.5
need to clean up logging and some minor stuff, but the main code changes are done

[2020-07-23 18:33] beele commented on #39
homebridge-unifi-protect-camera-motion@0.4.1-Beta.5 now supports the doorbell functionality and manual triggering. No two way audio though.

Add: "enable_doorbell": true to the config to enable it

[2020-07-23 18:35] beele commented on #57
What node/homebridge version are you using?
What config are you using?
Did you install the prerequisites for node-canvas?

[2020-07-23 19:04] hfagelnour commented on #49
Thx for asking but no, I am still getting the same error msg “can not enumerate the motion sensors”

Sent from my iPhone

[2020-07-23 20:02] tillkruss commented on #58
Maybe related: https://github.com/Sunoo/homebridge-camera-ffmpeg/issues/633

I've installed this:

[code]

And the HB logs show:

[code]

[2020-07-23 21:26] ilyesm commented on #57
I am running HOOBS version 3.2.6, node version 12.16.3.

My config is below:
`{
            "platform": "UnifiProtectMotion",
            "plugin_map": {
                "plugin_name": "homebridge-unifi-protect-camera-motion"
            },
            "name": "Unifi protect cameras & motion sensors",
            "unifi": {
                "controller": "https://192.168.1.1:443",
                "

[2020-07-23 22:41] sullyhome commented on #53
Appears perhaps there is a different bug reading the cameras? Getting the following in the logs....

[7/23/2020, 6:38:36 PM] [Unifi protect cameras & motion sensors] Cameras retrieved, enumerating motion sensors
[7/23/2020, 6:38:36 PM] [Unifi protect cameras & motion sensors] Adding 3c0bfd6f-c973-4563-8544-4a713c4daa59
[7/23/2020, 6:38:36 PM] [Unifi protect cameras & motion sensors] Configuring ac

[2020-07-24 09:02] alezanott commented on #43
[Log.txt](https://github.com/beele/homebridge-unifi-protect-camera-motion/files/4971052/Log.txt)
@beele Here the log.

[2020-07-24 12:06] ilyesm commented on #57
Hey,

I just checked the config, enabled RTSP on all cameras, and still get the error below when starting Hoobs/Homebridge.

`24/07/2020, 13:05:46 Loaded plugin "homebridge-unifi-protect-camera-motion".
24/07/2020, 13:05:46 The requested platform "UnifiProtectMotion" was not registered by any plugin.
24/07/2020, 13:05:46 Your config.json is requesting the platform "UnifiProtectMotion" which has no

[2020-07-24 17:47] askovi commented on #57
This issue is coming from the platform registration. I submitted a PR a while ago which was merged but the update hasn't been released: https://github.com/beele/homebridge-unifi-protect-camera-motion/pull/50
That will fix the "`The requested platform "UnifiProtectMotion" was not registered by any plugin.`" error

[2020-07-24 19:07] JJJ commented on #34
Updated to 0.4.1-Beta.5 but now Homebridge is stuck in a startup loop with this error:

[code]

[2020-07-25 08:40] beele commented on #34
homebridge-unifi-protect-camera-motion@0.4.1-Beta.7 should fix this (on my local machine this error does not occur because I have homebridge as a dev dependency)

[2020-07-25 08:41] beele commented on #53
homebridge-unifi-protect-camera-motion@0.4.1-Beta.7 should fix this (on my local machine this error does not occur because I have homebridge as a dev dependency)

[2020-07-25 08:41] beele commented on #58
homebridge-unifi-protect-camera-motion@0.4.1-Beta.7 should fix this (on my local machine this error does not occur because I have homebridge as a dev dependency)

[2020-07-25 14:18] ilyesm commented on #57
Hi @askovi ,

Thanks for getting back to me. Any idea on how long it'll take if it will be released at all, @beele ? Thanks!

[2020-07-25 19:15] tillkruss commented on #58
The accessories are back, the snapshots work again, but the stream is still not showing up:

[code]

[2020-07-25 19:30] sullyhome commented on #53
The issue above with populating the cameras is fixed but sadly still no video feeds.

[2020-07-27 19:14] JJJ commented on #34
0.4.1-Beta.7 is working here.

I got this after restarting Homebridge in Status, which is new to me:

[code]

[2020-07-28 01:18] nicgraner opened #60 "Cameras won't appear under add manually"
Setup in homebridge, and they show in the logs as "add manually using code xxx-xx-xxx" however when I click add accessory, then select I don't have a code, only one camera out of 6 appears. Any ideas on how to troubleshoot this would be helpful, as it seems everything is happy on the Homebridge and Unifi end.

[code]

[2020-07-28 17:51] beele commented on #60
Please try the latest beta build as that uses a new method to get the camera's in Homekit. It no longer requires manually adding them in.

[2020-07-28 17:53] beele commented on #34
That's a message that pops up sometimes but it shouldn't. It is actually using the C++ backend.
Tensorflow and node is a pile of **** :(

[2020-07-28 20:53] nicgraner commented on #60
What is the latest beta build? 7?

[2020-07-28 21:00] nicgraner commented on #60
Also what is the best practice for installing beta version? Uninstall main branch, reboot, install beta branch? I tried installing Beta 7 and im still only seeing one cam, as well as the stream no longer works on the one cam that did work :(

[2020-07-29 19:00] beele commented on #60
@nicgraner homebridge-unifi-protect-camera-motion@0.4.1-Beta.9 should have fixed the logging issues

[2020-07-29 21:36] nicgraner commented on #60
Just loaded up beta 9 and restarted the server, getting

`[7/29/2020, 4:34:26 PM] [Unifi protect cameras & motion sensors] ffmpeg exited with code: 1 and signal: null (Error) Doorbell`

for any stream I try. It sends notifications, and updates snapshots without issue though. video config is as follows:

[code]

[2020-07-30 08:30] beele commented on #60
Can you remove the _omx specification from the vcodec and see if that works

[2020-07-30 13:38] nicgraner commented on #60
``7/30/2020, 8:36:44 AM] [Unifi protect cameras & motion sensors] Sending snapshot: 1024x576 Bedroom
[7/30/2020, 8:36:45 AM] [Unifi protect cameras & motion sensors] Starting video stream: 1024x576, 15 fps, 299 kbps Doorbell
[7/30/2020, 8:36:46 AM] [Unifi protect cameras & motion sensors] ffmpeg exited with code: 1 and signal: null (Error) Doorbell
[7/30/2020, 8:36:46 AM] [Unifi protect cameras &

[2020-07-30 15:14] madrobby opened #61 "Tensorflow message"
Getting this message:

[code]

I think it's from thius plugin. Would be good if this is supported! FWIW I'm running on a Mac Mini that _does not_ have CUDA support.

[2020-07-30 15:16] madrobby commented on #60
@beele Still having same issue: snapshots work, but video streaming doesn't.

I'm open to screenshare my homebridge Mac mini for you debug when you have a minute. Thanks for your hard work on this plugin. :)

[2020-08-02 08:19] beele commented on #61
This message is in error, I don't know why, but it can be ignored. If the C++ binding was not working and tensorflow would be running in pure js mode, the performance would be 10x slower, you'd notice ;)

[2020-08-02 08:19] #54 closed

[2020-08-02 08:22] beele opened #62 "FFMPEG streaming issues"
**Describe the bug**
This is a global ticket for all FFMPEG issues like streams not starting etc.

**Specifications**
Respond to this ticket if you are having issues with streams not working.
Include:
- hardware specs where homebridge is running on (cpu/ram/video card)
- software specs where homebridge is running on (cpu arch/os/node versions/homebridge version/plugin version)

**Logging**
Enable

[2020-08-02 08:22] beele commented on #58
Please refer to: https://github.com/beele/homebridge-unifi-protect-camera-motion/issues/62

[2020-08-02 08:22] #58 closed

[2020-08-02 08:23] beele commented on #53
Please refer to: https://github.com/beele/homebridge-unifi-protect-camera-motion/issues/62

[2020-08-02 08:23] #53 closed

[2020-08-02 08:23] #56 closed

[2020-08-02 08:23] #51 closed

[2020-08-02 08:24] beele commented on #60
for streaming issues refer to: https://github.com/beele/homebridge-unifi-protect-camera-motion/issues/62

[2020-08-02 08:24] #60 closed

[2020-08-02 08:33] #48 closed

[2020-08-02 08:34] beele commented on #48
Implemented as per release 0.4.1

[2020-08-02 08:34] #46 closed

[2020-08-02 08:35] beele commented on #39
Doorbell support is now released in 0.4.1
Two way audio will remain on the backlog until progress is made and a POC becomes available elsewhere so I can implement it here.

[2020-08-02 08:36] beele commented on #21
This will be coming in the next release

[2020-08-02 08:36] #61 closed

[2020-08-02 08:36] beele commented on #57
0.4.1 has been released

[2020-08-02 08:36] #57 closed

[2020-08-02 08:37] beele commented on #43
0.4.1 has been released.
I've got it running on my rbpi 4 with lastest homebridge and config-ui

[2020-08-02 08:38] beele commented on #34
Implemented as per 0.4.1

[2020-08-02 08:38] #34 closed

[2020-08-02 08:40] beele commented on #49
0.4.1 has been released.
Can all people that are having issues with Unifi OS update to the latest version, check the readme so you are using the correct URLs and report back?

[2020-08-02 08:43] beele commented on #43
[code]

where you can replace h264_omx with h264 when not running on a rbpi

[2020-08-02 08:45] beele commented on #62
My config that is working with 0.4.1 on my RBPI 4 with latest homebridge/config-ui-x and node 12.x

[code]

[2020-08-02 13:21] madrobby commented on #62
Hi, I can't start streams (ffmpeg exit code 1), but snapshots are working fine.

*UniFi setup:*
- UniFi Dream Machine Pro 1.8.0-rc11
- UniFi Protect 1.14.11 / 1.23.2

*Hardware setup:*
- Mac mini (Late 2012) 2.3 GHz Quad-Core Intel Core i7, 4 GB 1600 MHz DDR3
- Intel HD Graphics 4000
- macOS Catalina 10.15.6

*Software setup:*
- Homebridge version 1.1.1
- ffmpeg version 4.3.1 (via homebrew)
- node

[2020-08-02 16:15] ntableman opened #63 "Installation of Update Fails"
**Describe the bug**
I went to update the plugin and it failed

**Specifications**
What hardware and OS is your Homebridge running on?
Ubuntu Bionic Beaver (18.04.4 LTS)
What Unifi hardware are you using
Cloud Key 2+

**Logging**
USER: root
DIR: /homebridge
CMD: npm install --save homebridge-unifi-protect-camera-motion@latest

npm WARN deprecated request@2.88.2: request has been deprecated, see ht

[2020-08-02 16:37] beele commented on #63
[code]

On my mint 20 vm with node 12.x the install works correctly. Could you try again but run it as sudo.

[2020-08-02 16:38] beele commented on #63
[code]

On my Min 20 vm with node 12.X it seems to install correctly (from scratch)
Could you run the install command again but as sudo?

[2020-08-02 16:45] beele commented on #62
@madrobby Maybe there is an issue when ffmpeg is installed, I'll try to get a special debug build together for the ffmpeg issues so we dan do some further digging.

[2020-08-02 17:25] sullyhome opened #64 "Cannot get cameras: Error: ERROR: Could not enumerate motion sensors: Error: Authentication failed: {}"
Version: homebridge-unifi-protect-camera-motion v0.4.1

Despite having the correct ID and password in my config file I get the error:  **Cannot get cameras: Error: ERROR: Could not enumerate motion sensors: Error: Authentication failed: {}**

This happens with both local and cloud user accounts to try to rule that out.

Here is full log file.

[8/2/2020, 1:20:54 PM] [Config] Homebridge restart req

[2020-08-02 17:41] ntableman commented on #63
same result

[code]

[2020-08-02 17:46] beele commented on #63
Seems like the issue is a refused connection when trying to download the tensorflow prebuilt binary.
Do you have any special firewall rules or AV software enabled?

[2020-08-02 17:51] beele commented on #64
Post your redacted config please

[2020-08-02 17:55] ntableman commented on #63
I have nothing unusual. I can curl many urls http and https from within this container. I moved the host into the DMZ with the same result: it fails in the same spot.

[2020-08-02 17:56] beele commented on #63
You are running inside a docker container?
Could you try installing the plugin on the host? (just to see if it can pass that point of the installation)

[2020-08-02 18:03] ntableman commented on #63
exactly the same error when installed outside docker on host OS

[2020-08-02 18:07] beele commented on #63
What is your node version?
Can you open this link on the host: https://storage.googleapis.com/tf-builds/
And subsequently can you donwload this file: https://storage.googleapis.com/tf-builds/pre-built-binary/napi-v4/1.7.4/CPU-linux-1.7.4.tar.gz

This is the file that should be downloaded and installed by npm.

[2020-08-02 18:33] sullyhome commented on #64
{
    "bridge": {
        "name": "Homebridge D415",
        "username": "username",
        "port": 51740,
        "pin": "102-72-002"
    },
    "accessories": [],
    "platforms": [
        {
            "name": "Config",
            "port": 8581,
            "platform": "config"
        },
        {
            "platform": "UnifiProtectMotion",
            "name": "Unifi protect cameras & moti

[2020-08-03 02:15] acesarewld commented on #63
I disabled my Pi-Hole and tried again -- that did the trick for me.

[2020-08-03 11:07] twynne opened #65 "HB won't start after install"
**Describe the bug**
After installing this plugin via Config UI X, Homebridge repeatedly crashes during startup.

**Specifications**
What hardware and OS is your Homebridge running on?
Mac OS
Homebridge 1.2.0b33 (any issues with current beta?)

What Unifi hardware are you using
CKG2+
Flex-G3 camera

In case you have issues with streaming via FFMpeg, have you tried with https://www.npmjs.com/packag

[2020-08-03 11:45] twynne commented on #65
This is all I'm seeing in the logs following installing/configuring the plugin:

[37m[8/3/2020, 12:00:53 PM][0m [36m[HB Supervisor][0m Restarting Homebridge...
[37m[8/3/2020, 12:00:53 PM][0m [36m[HB Supervisor][0m Starting Homebridge with extra flags: -I
[37m[8/3/2020, 12:00:53 PM][0m [36m[HB Supervisor][0m Started Homebridge v1.2.0-beta.33 with PID: 68703
[37m[8/3/2020, 12:00:53 PM] 

[2020-08-03 12:08] twynne commented on #65
Trying with just the ffmpeg plugin, I don't see video either.  The log reflects only the following:

[8/3/2020, 1:03:48 PM] [Camera FFmpeg] [Lounge-temp] An error occurred while making snapshot request: Error: spawn ffmpeg ENOENT
[8/3/2020, 1:03:48 PM] [Camera FFmpeg] [Lounge-temp] Video stream requested: 1280x720, 30 fps, 299 kbps
[8/3/2020, 1:03:48 PM] [Camera FFmpeg] [Lounge-temp] Starting vide

[2020-08-03 14:58] twynne commented on #65
Got a bit further... installed camera-ffmpeg plugin, then installed/updated ffmpeg externally and was able to get the video to stream. Reinstalled the protect-motion plugin and it still fails, but the log now shows the following:

[37m[8/3/2020, 3:45:37 PM] [39m[31mERROR LOADING PLUGIN homebridge-unifi-protect-camera-motion:[39m
[37m[8/3/2020, 3:45:37 PM] [39m[31mError: Cannot find module 'a

[2020-08-03 16:47] tillkruss commented on #62
Just upgraded to v0.4.1 and restarted. Same as before: Snapshots work, but the video still doesn't stream.

## Setup
Hardware setup:
- UniFi Cloud Key Plus (v1.1.13)
- UniFi Protect (v1.13.4)
- Raspberry Pi 4B

Software setup:
- Linux raspberrypi (5.4.51-v7l+ #1326 SMP Fri Jul 17 10:51:18 BST 2020 armv7l GNU/Linux)
- Homebridge (v1.1.1)
- ffmpeg (v4.1.6)
- Node (v10.22.0)

## FFmpeg

<details>
  <

[2020-08-03 17:27] twynne commented on #65
Just one more thing to add, homebridge-unifi-protect is now installed and working fine.  So, there is something specific to the  motion plugin that seems to have an issue.  Either an issue with the platform on which I'm trying to run it (MacOS native), or there's an install/config issue.  I've used the same values to configure Unifi-protect and they seem to work.

It would of course be nice to get

[2020-08-03 19:01] hfagelnour commented on #64
@beele i get the same error as above until i add a "/" at the end of the controller URL which will then Authenticate but gives this error afterwards
[8/3/2020, 20:53:24] [Unifi protect cameras & motion sensors] Cannot get cameras: Error: ERROR: Could not enumerate motion sensors: TypeError: Cannot read property 'status' of undefined

[2020-08-03 23:39] sullyhome commented on #64
Hmm the forward slash on the url didnt get me any further.

[2020-08-03 23:51] hfagelnour commented on #64
Which Unifi OS and controller are u using?
I am on 1.8rc11 and 6.0.8

Sent from my iPhone

[2020-08-03 23:58] sullyhome commented on #64
The new Protect NVR. Firmware 1.3.12 which appears to be the latest. Protect Controller version 1.14.11. Web UI Version 1.23.2

[2020-08-04 09:02] alezanott opened #66 "Unable to load plugin after update"
I'm running the plugin on HOOBS. I've also run the command `npm rebuild @tensorflow/tfjs-node build-addon-from-source` to rebuild Tensorflow, but nothing changed.
Any clue of what's going on @beele ?
Here the output:
[code]

[2020-08-04 19:08] sullyhome commented on #64
FWIW the new Version 3 of homebridge-unifi-protect2  is working perfectly for me so doesnt appear to be an issue on my side. Going to switch to using that for now.

[2020-08-05 05:44] beele commented on #66
Check: https://github.com/tensorflow/tfjs/blob/master/tfjs-node/WINDOWS_TROUBLESHOOTING.md and reinstall the plugin

[2020-08-05 08:19] alezanott commented on #66
Thank you @beele. Reinstalling the plugin will also fix the registration problem?

[2020-08-05 10:40] beele commented on #64
I've gone over: https://github.com/hjdhjd/homebridge-unifi-protect2/blob/master/src/protect-api.ts
And my plugin does basically the same thing. I'll try some small changes to see if they have any effect.

[2020-08-05 10:50] hfagelnour commented on #64
Protect2 ver 3.0 worked fine for me as well

Sent from my iPhone

[2020-08-05 12:29] beele commented on #64
Could you try with: `sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.2-beta.1`
I've reworked the calls to the Unifi side of things

[2020-08-05 13:02] s1rc commented on #62
## Setup
Hardware:
* Raspberry Pi 4B 4G
* UDMP v1.8.0-rc11
* UniFi Protect v1.14.11

Software:
* Homebridge Raspian
   * Linux homebridge 5.4.51-v7l+ #1327 SMP Thu Jul 23 11:04:39 BST 2020 armv7l
   * Homebridge Raspbian v1.0.4 - Raspberry Pi 4 Model B Rev 1.1
* Homebridge v1.1.1
* Node v12.18.3
* FFmpeg  v4.2.git-47773f7

## FFmpeg
<details>
  <summary>Click to expand!</summary>

[code]
</details

[2020-08-05 13:44] hfagelnour commented on #64
worked like a charm :) i get an exit code 1 though which is an ffmpeg audio
setting i need to look at.

On Wed, Aug 5, 2020 at 2:30 PM Kevin Van den Abeele <
notifications@github.com> wrote:

[2020-08-05 13:47] hfagelnour commented on #64
while the plugin is working fine i though to share with you the log output
i am getting maybe it helps speed up things which is very fast already
============================
Hi there 👋. Looks like you are running TensorFlow.js in Node.js. To speed
things up dramatically, install our node backend, which binds to TensorFlow
C++, by running npm i @tensorflow/tfjs-node, or npm i
@tensorflow/tfjs-node

[2020-08-05 13:55] beele commented on #64
@hfagelnour good to hear that it's working now.
That message appears to be an error, tensorflow is already running with the C++ backend. But since the node & tensorflow integration is kinda shitty (mismatching versions and broken build instructions)

[2020-08-05 13:59] beele commented on #66
@alezanott the registration problem is because the plugin crashed due to the missing node bindings. Once that is resolved the platform registration should work fine during startup.

[2020-08-05 14:00] beele commented on #65
Could you try with:
`sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.2-beta.1`

[2020-08-05 14:10] beele commented on #62
Could you try with: `sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.2-beta.1`
This version will also print the location of the ffmpeg binary that is being used by the plugin

[2020-08-05 15:02] s1rc commented on #62
[code]

@beele that's from the Homebridge startup logs.

[2020-08-05 15:05] beele commented on #62
Ok, thats already good.
Second, what interfaces does your device have (eth0, wlan0, ...) and which one is used?
Also, if you enable the debug boolean in the config from the plugin it should print detailed information when trying to start a stream (might need to run homebridge with the -D option)

[2020-08-05 15:10] beele commented on #49
Could you try with: `sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.2-beta.1`
I've reworked the calls to the Unifi side of things
The controller URL should NOT end with a slash!

[2020-08-05 15:11] beele commented on #62
There are currently several tickets opened on the github of the homebridge camera ffmpeg plugin regarding the same issue.
I'm keeping an eye on this as it seems to be a more general problem.

[2020-08-05 15:17] twynne commented on #65
Hi,

Same result I'm afraid.  Homebridge just fails to load successfully once that is installed and config added.  Uninstalling and removing the config, all is well again.

[2020-08-05 15:24] beele commented on #65
The strange thing is that you are getting a: Signal: SIGILL message ==> illegal instruction
which is kinda weird, I'm gonna try locally with the homebridge beta.
I suspect it's related to that or it might be clashing with another plugin

[2020-08-05 15:30] s1rc commented on #62
@beele It's just running on eth0, the only accessory the RPi has is a PoE hat.

Here's an output from -D:
[code]

[2020-08-05 15:36] twynne commented on #65
I'm afraid I've no idea how I would go about creating a second homebridge instance.  Is there guidance on that somewhere?

[2020-08-05 15:36] beele commented on #65
In your second log I don't see the SIGILL but I see this:  Cannot find module 'axios'
Which means that the axios dependency can not be found, which the latest beta isn't even using anymore.
This leads me to believe that the package did not update correctly. Could you try removing the folder where the plugin is installed?
use: `npm root -g` => prints where global npm packages are installed
then rem

[2020-08-05 15:38] beele commented on #62
hmm, I see: rtsp://10.0.0.1:7447/UEjbvyDxCL9gpG61: Invalid data found when processing input Garage true
Which could mean there are corrupted frames coming from the video feed.
Which camera(s) do you have?

[2020-08-05 15:45] s1rc commented on #62
@beele that camera is a UVC G3 Flex, there are other UVC G4 Pro which also don't work.

When I upgraded to `homebridge-unifi-protect-camera-motion@0.4.2-beta.1` it worked once then all subsequent attempts to stream fail.

[2020-08-05 15:48] twynne commented on #65
No joy.  You're correct that the folder was still there, which I removed.
Reinstalled using your command above, then added back the config lines (all default  values).

Homebridge repeatedly fails to load until I remove the plugin (uninstall via Config UI fails, have to do via command line).  Nothing useful showing in logs beyond the above.

[8/5/2020, 4:43:46 PM] [HB Supervisor] Restarting Homebr

[2020-08-05 15:52] beele commented on #65
Make a basic config.json file with only this plugin configured.
Place that file in a folder you remember.
Open a terminal and execute: `homebridge -D -U FULL_PATH_TO_FOLDER/`
This should run a new homebridge instance using the config from that folder

[2020-08-05 16:56] twynne commented on #65
Not sure if that worked, but I get the following output in terminal:

wl21:node_modules homeserver$ homebridge -D -U /Users/homeserver/homebridge2
[05/08/2020, 17:54:54] Loaded config.json with 0 accessories and 1 platforms.
[05/08/2020, 17:54:54] ---
[05/08/2020, 17:54:55] Loaded plugin: homebridge-accessory-bandwidth-quality@0.9.11
[05/08/2020, 17:54:55] Registering accessory 'homebridge-accesso

[2020-08-05 20:55] Sunoo commented on #62
@beele Yea, not quite sure what’s going on either, or why this type of issue seems to be spiking recently.

Are you on the Homebridge Discord? A few camera plugin developers are on there and it’s a convenient way to huddle on issues that impact us all.

[2020-08-06 05:48] beele commented on #62
@Sunoo I'll join the discord to chime in

[2020-08-08 07:21] beele commented on #65
Hmm this seems really weird => Illegal instruction: 4 which is something, if coming from my plugin, which I've never seen before.

[2020-08-09 17:50] JJJ opened #67 "Camera manufacturer says "Ubiquity" instead of "Ubiquiti""
**Describe the bug**
The manufacturer description is incorrect.

<img width="575" alt="jjj-sc-2020-08-09 at 12 50 13@2x" src="https://user-images.githubusercontent.com/88951/89738518-e69b8200-da3e-11ea-940f-e77de9f9bc9b.png">

[2020-08-10 07:19] #67 closed

[2020-08-10 20:15] mikestecker commented on #62
I'm having issues as well...

### Hardware:
Ubuntu 20.04
Nvidia P2000 with latest CUDA drivers
UDMP v1.7.2
UniFi Protect v1.14.11

### Software:
Docker v19.03.13-beta2, build ff3fbc9d55
Docker Homebridge: `oznu/docker-homebridge:ubuntu` (latest)
Plugin version: homebridge-unifi-protect-camera-motion v0.4.2-beta.1
Node: v12.18.3
ffmpeg version 4.2.2-d1e8be3

### FFmpeg:
<details>
<summary>Click to

[2020-08-13 00:02] shnhrrsn opened #69 "Streaming Taking Long Time to Start"
**Describe the bug**

I'm opening this separate from #62 because it doesn't actually seem to be an issue with ffmpeg.

Basically, after I open the request in Home.app (on either iOS or macOS), it seems to take 30+ seconds before the plugin even acknowledges there was a request to open.

I've previously used a different UniFi plugin without this issue (migrated when upgrading to Protect) and my Rin

[2020-08-13 00:04] shnhrrsn opened #70 "Incorrect Aspect Ratio for Doorbell Snapshot"
The G4 Doorbell is 1600x1200 (4:3) — it looks like snapshots are being forced to 1280x720 (16:9) regardless of device type so they appear stretched in Home.app.

[2020-08-13 14:29] alezanott commented on #66
@beele I've followed the guide on that link but basically it didn't brought to nothing. Is possible that on HOOBS not is not running with root privileges, so I get this kind of error?

[2020-08-13 18:13] beele commented on #66
@alezanott can you try with the latest beta, login on hoobs, open a terminal and execute:
`sudo npm i homebridge-unifi-protect-camera-motion@0.4.2-beta.9 --unsafe-perm=true`
I've formatted a backup pi with hoobs and after some trial and error got it running (hopefully I did not break it for non hoobs installs :/)

[2020-08-13 20:08] alezanott commented on #66
Thank you @beele. Now everything is working fine! When you will release the final version of 0.4.2 will HOOBS automatically update to the correct version or do I need to uninstall the beta and then reinstall the final one?

[2020-08-13 23:51] mikestecker opened #71 "Some cameras not showing snapshot"
**Describe the bug**
2 of my 6 cameras are showing a "No Response" grey screen as their snapshot preview image. All other cameras show the snapshot as expected.

**Hardware:**
Ubuntu 20.04
Nvidia P2000 with latest CUDA drivers
UDMP v1.7.2
UniFi Protect v1.14.11

**Software:**
Docker v19.03.13-beta2, build ff3fbc9d55
Docker Homebridge: oznu/docker-homebridge:ubuntu (latest)
Plugin version: homebrid

[2020-08-13 23:56] mikestecker commented on #71
Oops... closing. My bad!

[2020-08-13 23:56] #71 closed

[2020-08-14 20:00] s1rc commented on #62
@beele I just received my G4 Doorbell and set it up. Without changing any config in Homebridge except for adding the doorbell ID, the video streams just fine from the doorbell.

The G3 Flex's and G4 Pro's won't stream still.

[2020-08-16 21:01] s1rc commented on #62
@beele I think I know why ffmpeg is getting `Invalid Data` from the stream.

Looking at the logs it's showing the RTSP endpoint for that camera as `rtsp://10.0.0.1:7447/UEjbvyDxCL9gpG61` but in UniFi Protect in the camera config it's  `rtsp://10.0.0.1:7447/7sn7aquqd4EUL3iU`. I've only ever had one RTSP stream enabled.

![image](https://user-images.githubusercontent.com/2073967/90343818-07854980-df

[2020-08-17 13:10] beele commented on #63
closing due to inactivity

[2020-08-17 13:10] #63 closed

[2020-08-17 13:11] beele commented on #43
continued in #66

[2020-08-17 13:11] #43 closed

[2020-08-17 13:11] beele commented on #64
Unifi OS should be working now

[2020-08-17 13:11] #64 closed

[2020-08-17 13:12] beele commented on #49
Unifi OS should be working now

[2020-08-17 13:12] #49 closed

[2020-08-17 13:14] beele commented on #69
I use the same logic as the base homebridge camera ffmpeg plugin.
My video streams load anywhere between 5-15 seconds, which I would deem acceptable.
Please provide a detailed log with the debug flag enabled so the ffmpeg debug output is visible.

[2020-08-17 13:42] beele commented on #66
@alezanott It should be fine, I've release 0.4.2, can you try updating to it and see if it still works?

[2020-08-17 14:30] madrobby commented on #49
@beele with the latest version, I still have the same issue: snapshots work, but I can't stream video

[2020-08-17 15:04] beele commented on #49
@madrobby that's currently a more global issue with homebridge camera ffmpeg (which this plugin uses as a dependency).
A solution for it is being worked on though. Best to continue this in #62

[2020-08-17 16:07] madrobby commented on #62
Here's the output with debugging info when requesting a video stream:

[code]

Noticed this warning:
[code]

[2020-08-17 16:10] JJJ opened #72 "Typo: "coded" should say "codec""
https://github.com/beele/homebridge-unifi-protect-camera-motion/blob/2269c9d05d9db24fa7c548d8818191583af5fa6c/config.schema.json#L713

Currently:

<img width="800" alt="jjj-sc-2020-08-17 at 11 09 52@2x" src="https://user-images.githubusercontent.com/88951/90418041-33540e00-e07a-11ea-9848-39ebdbaa0598.png">

Should be:

[2020-08-17 16:39] JJJ commented on #70
I noticed this, too. Not only the snapshot, but the video feed as well.

I'm not certain if this is configurable. I half assumed HomeKit always used 16:9 for everything.

[2020-08-17 16:41] JJJ commented on #69
It takes about 2 seconds on my Raspberry Pi 4 4GB, running the Homebridge OS image.

[2020-08-17 17:23] #72 closed

[2020-08-17 17:25] beele commented on #70
I'll try and see if it's possible, I would assume that it would just display the stream/snapshot as is, but ffmpeg can probaly be set to letter/pillarbox the video/photo

[2020-08-17 17:41] beele commented on #65
If you fully remove the plugin and reinstall it, what does the full install log say?

[2020-08-17 17:42] beele commented on #62
@s1rc I've checked this and this is indeed the case, I'm working on a fix that will update the source for the snapshots/stream every time that homebridge is (re)started.

[2020-08-17 18:32] shnhrrsn commented on #69
@beele there’s really nothing useful in the logs which is why I didn't include them.  If I clears logs before opening the stream in Home.app, the logs will be empty for 20-30s after I tap the camera in Home.app before finally kicking off the ffmpeg request.  At that point, assuming the app hasn’t given up, everything works fine.

[2020-08-18 00:30] JJJ commented on #69
Back when I was seeing slow ffmpeg times on my old Raspberry Pi 3 with Nest cameras, it was related to the order with which I had compiled and set everything up. Namely that I ended up with multiple versions of it installed in different directories because I had followed different tutorials and instructions, one of which was not configured to take advantage of hardware acceleration on the Raspberr

[2020-08-18 15:13] beele commented on #62
@s1rc @madrobby
Can you try with this beta version: homebridge-unifi-protect-camera-motion@0.4.3-beta.2
It contains new logic to update the camera ip/rtsp streams every time homebridge is started and the new homebridge-camera-ffmpeg dependency that has fixes for streams that don't work/start.

`sudo npm i -g homebridge-unifi-protect-camera-motion@0.4.3-beta.2 --unsafe-perm=true`

[2020-08-18 15:26] s1rc commented on #62
@beele so far so good! I've changed the RTSP stream endpoints by toggling on and off and restarting homebridge. All my cameras work now 🙇

[2020-08-18 17:11] mikestecker commented on #62
@beele Still not working for me, I've tried your new beta but still getting `ffmpeg exited with code: 1 and signal: null (Error) <camera name>`

I have debugging turned on, but I'm not seeing the types of logs that @madrobby shows above. This is what I'm seeing in my logs:

[code]

[2020-08-18 17:43] hjdhjd commented on #62
@beele Hope you don’t mind me posting here...I wanted to offer some insight on how to address the ffmpeg streaming issue. If you take a look at my UniFi Protect plugin, you can see how to address this one. There are a handful of unique issues to Protect streams...but the good news is that they’re pretty easy to overcome and you can get incredibly fast video streams.

There are two things that you

[2020-08-18 18:25] beele commented on #62
@hjdhjd
I don't mind at all :)
Thanks for the info and insights. I'll have a look in your ffmpeg setup code so I can optimise the experience.

[2020-08-18 18:26] hjdhjd commented on #62
@beele Enjoy! I have a proclivity for lots of comments in my code. :smile:

[2020-08-18 19:07] Sunoo commented on #62
@hjdhjd Just curious, are there are changes I should consider implementing that would make you guys’ lives easier?

[2020-08-18 19:37] janthony6 commented on #69
I'm having trouble streaming on my Pi4 on my UDMP.  My ffmpeg shows this:

ffmpeg version N-94452-g9af8ce754b Copyright (c) 2000-2019 the FFmpeg developers
  built with gcc 8 (Raspbian 8.3.0-6+rpi1)
  configuration: --prefix=/usr/local --arch=armel --target-os=linux --enable-omx-rpi --enable-nonfree --enable-gpl --enable-libfdk-aac --enable-mmal --enable-libx264 --enable-decoder=h264 --enable-netw

[2020-08-18 19:48] hjdhjd commented on #62
@Sunoo I tried it both ways...there wasn't really much of a difference in performance video-wise. I kept it in because it seems to fit with the intent of the option, which as I interpret it, is to support live streaming at whatever frame rate we can capture.

What's your thinking on why not to do it?

From: https://ffmpeg.org/ffmpeg-all.html

[2020-08-18 19:50] Sunoo commented on #62
@hjdhjd It’s right there is the section you quoted: “Should not be used with actual grab devices or live input streams (where it can cause packet loss).”

[2020-08-18 19:55] hjdhjd commented on #62
@Sunoo The last sentence negates it...hence the confusion. Fair enough...on local networks, this isn't much of an issue, but perhaps over your cellular.

As to improvements...it'd be nice to see a native two-way audio implementation in homebridge-camera-ffmpeg. There's no great implementation out there besides what ring and nest-cam have done...and the world can use something robust. Any plans to

[2020-08-18 20:00] Sunoo commented on #62
I can say from experience (and reading other docs I can’t seem to find right now) that it does cause packet loss. It is meant live streaming, but of sources like files, not cameras or incoming streaming video.

As for two-way audio. I would LOVE to implement it, and I believe i understand what would need to be done from the plugin side to support it. The trick is that I’ve not been able to find a

[2020-08-18 20:05] janthony6 commented on #62
Having the exact same problem as everyone else here. Snapshots and everything is working great but RTSP streaming is not working at all.

[2020-08-18 21:04] hjdhjd commented on #62
@Sunoo Two-way audio...I think it’s off topic for this thread, but I’ll open one up on your plugin’s page.

[2020-08-19 17:22] janthony6 commented on #69
Recompiled with:

`ffmpeg version N-98757-ge8a88a16f7 Copyright (c) 2000-2020 the FFmpeg developers
  built with gcc 8 (Raspbian 8.3.0-6+rpi1)
  configuration: --extra-cflags=-I/usr/local/include --extra-ldflags=-L/usr/local/lib --extra-libs='-lpthread -lm -latomic' --arch=armel --enable-gmp --enable-gpl --enable-libaom --enable-libass --enable-libdav1d --enable-libdrm --enable-libfdk-aac --enable

[2020-08-21 06:46] BadgerBadgerAndFox commented on #62
@beele Seeing the same as @mikestecker

RPi3b
Homebridge 1.1.2
Node.js Version v12.16.2
Node.js v6.14.4

Cloudkey2+
Cloudkey Firmware v1.1.18
Protect  v1.13.4

[8/21/2020, 16:29:27] Loaded plugin: homebridge-unifi-protect-camera-motion@0.4.2
[8/21/2020, 16:29:27] Registering platform 'homebridge-unifi-protect-camera-motion.UnifiProtectMotion'
[8/21/2020, 16:29:27] ---
[8/21/2020, 16:29:27] Loading

[2020-08-23 16:48] hjdhjd commented on #62
@beele Also...you should try @Sunoo's recommendation of removing the `-re` flag and see if it helps in your environment.

[2020-08-24 03:42] JJJ commented on #70
Testing 0.4.3 beta 3 here, no change:

## Feed
![jjj-sc-2020-08-23 at 22 36 06@2x](https://user-images.githubusercontent.com/88951/91001418-493d6380-e591-11ea-93c7-6ab6c7f68d9e.png)

## Thumbnails
![jjj-sc-2020-08-23 at 22 36 56@2x](https://user-images.githubusercontent.com/88951/91001426-4b072700-e591-11ea-8003-0f05f24ef7b3.png)

My config already had those keys set, plus others. Are you saying t

[2020-08-24 05:46] beele commented on #70
@JJJ You should try with only the small videoConfig like the one I posted above.

[2020-08-24 17:17] JJJ commented on #70
@beele holy moly that is a HUGE improvement.

* Video quality is immensely improved
* Aspect ratio is correct
* Video play speed is the same

## Feed
![jjj-sc-2020-08-24 at 12 15 53@2x](https://user-images.githubusercontent.com/88951/91075464-b984cd00-e603-11ea-96db-a0bdb0b68859.png)

## Thumbnails
<img width="453" alt="jjj-sc-2020-08-24 at 12 16 21@2x" src="https://user-images.githubusercontent.c

[2020-08-24 17:23] shnhrrsn commented on #69
@beele closing this out -- not your fault, I figured out the issue though for others who may experience this:

HomeKit seems to load everything sequentially (unsure if this is a HAP/Homebridge issue or HomeKit itself).  If you open a a section in Home.app like favorites with 6 cameras on it and immediately open a stream, the plugin doesn't get the request for
the stream until after all 6 snapshots

[2020-08-24 17:23] #69 closed

[2020-08-24 22:07] janthony6 commented on #62
With beta 3, the plugin works upon reboot and then crashes shortly after. It was working fine until I turned notifications on from my wife's iphone and macbook too.  Now I get this crash and snapshots & video only work after a few minutes on a reset:

` TypeError: Cannot read property 'buffer' of undefined
0|homebrid |     at Unifi.getSnapshotForCamera (/usr/lib/node_modules/homebridge-unifi-prote

[2020-08-25 03:40] JJJ commented on #70
First weird new error in homebridge logs.

![53FD9F8C-6498-420D-AEC1-14A3742BA7C6](https://user-images.githubusercontent.com/88951/91120190-b36e0b00-e65a-11ea-831d-bb73855a559b.jpeg)

[2020-08-25 05:59] beele commented on #70
I have a fix for that issue coming up, the strange thing is that I don't get that error.
Are any of your cameras off (or disconnected, or....).
I have one camera that is mostly off but I still get a snapshot from the protect url (be it an older image off when it was last on and queried for a snapshot)

[2020-08-25 10:43] beele commented on #70
@JJJ Can you try with:
`sudo npm i -g homebridge-unifi-protect-camera-motion@0.4.3-beta.4 --unsafe-perm=true`

[2020-08-25 10:44] beele commented on #62
@janthony6 can you try with:
`sudo npm i -g homebridge-unifi-protect-camera-motion@0.4.3-beta.4 --unsafe-perm=true`

[2020-08-25 13:05] JJJ commented on #70
Will test today and report back.

It's plausible that the cameras or UDM Pro rebooted (like after updates?) but they were all online and functioning at the time of the error. I could access them fine via the official protect app, but not via Home.

[2020-08-25 15:21] JJJ commented on #70
@beele so far, so good.

* Installed beta 4
* Rebooted my Raspberry Pi
* Stress tested by loading feeds from Home app on Mac/iPad/iPhone in rapid succession - no errors yet

[2020-08-25 15:48] mikestecker commented on #39
@beele just FYI looks like the `homebridge-camera-ffmpeg` plugin has two-way audio (experimentally) working starting with their `v2.6.0` release: https://github.com/Sunoo/homebridge-camera-ffmpeg/commit/2c00cab8b7b5d22b8527c7f81be3bdbb7ec15b80

Maybe have a look at what they are doing when you have time

[2020-08-25 22:12] JJJ commented on #70
@beele unsure if related, but I've had it happen twice today where video & snapshots simply stop responding.

Last night, Unifi Protect updated to 1.14.12-beta.3, which may also be contributing. Since I have no facts, this is simply to report what I'm seeing, and I'll update as I learn more.

[2020-08-25 23:36] janthony6 commented on #62
@beele The snapshots still stop refreshing in beta 4. However, if I click the video, the stream works. Exiting the video gives me a refreshed snapshot for just that camera while the others may say 8 hours ago.

[2020-08-26 11:14] ntableman opened #74 "Feature: send to MQTT"
An awesome feature would be to send to a MQTT topic when there is an event and even better would be what the enhanced detection thinks is there. Then I could do all kinds of actions and such off of this message.

[2020-08-27 18:30] crxporter commented on #39
It's happening guys! Two way audio is on the horizon!

Advertised working here:
https://github.com/hjdhjd/homebridge-unifi-protect2/blob/master/docs/Doorbell.md#doorbell-twoway

[2020-08-28 05:30] janthony6 commented on #62
Beta 3 and 4 are not usable. After some time, all my devices become unresponsive and I have to restart homebridge. Had to roll back to 4.2 and just not have rtsp working.

[2020-08-28 06:20] beele commented on #62
@janthony6 Ok, can you provide some logging from when it stops working. I've never had the plugin cause all other devices to report "no response".

@JJJ When the snapshots streams stop working do you see the same "no response" on all other devices behaviour?

[2020-08-28 14:26] janthony6 commented on #62
@beele It's not an instant unresponsiveness of everything.  Typically snapshots stop working first. Then if I go in there and turn off a bunch of lights, everything shuts stop responding. I'm off beta now.

[2020-08-28 14:36] beele commented on #62
@janthony6 Can you give an indication of the timescale in which this occurs (minutes/hours/days)

[2020-08-28 15:33] beele commented on #39
I'll be looking into that when I get back from my holiday ;)

[2020-08-28 15:35] beele commented on #74
Closing this since it is a duplicate of #21

[2020-08-28 15:35] #74 closed

[2020-08-28 15:50] janthony6 commented on #62
@beele will give beta5 a try now. I had just installed beta4 again and it stopped responding in 1 hour.

[2020-08-28 16:53] JJJ commented on #62
@beele yes, I am seeing the same thing.

[2020-08-28 17:09] janthony6 commented on #62
@beele same issue on beta 5. after about an hour, no more snapshots come in. all the other devices work unless i interact with a few of them. Then it will all go unresponsive.

From the time that the snapshot stop working, if I hard close my home app and reopen, all my devices show unresponsive.

[2020-08-28 17:26] beele commented on #62
Hmmm, I don't see that same behaviour. Does your system use Unifi OS? Is there anything in the logs?
I'm leaving on holiday for a week so I would suggest rolling back to 0.4.2 for the time being. I'll look into this further when I get back.

[2020-09-02 06:59] BadgerBadgerAndFox commented on #62
@beele  i'm not seeing any of the issues reported with the beta builds. They have resolved the issues i was seeing, RTSP feeds are now working on 4.3 beta 5 no issue.
Previously the RTSP feeds were failing on 4.2.
I'm running Protect on CK2+ with beta builds enabled, i also have all three quality RTSP streams enabled for all my cameras.
Homebridge is on an RPi3 running the official image.

[2020-09-14 07:46] beele commented on #62
@BadgerBadgerAndFox I see the same thing, I have had beta 5 running for two weeks without issue.
@janthony6 @JJJ You guys are using the plugin with Unifi OS? It might be some rate limiting going on.
Could you enable the debug and post the log output when the issue occurs?

[2020-09-14 16:08] JJJ commented on #62
Yes.

Will do!

[2020-09-20 20:38] alezanott commented on #62
Hi there @beele , my config that is working with 0.4.2 on my RBPI 3 with latest HOOBS version 3.2.6/node 12.16.3.
Everything seems working good except for the camera stream. Every time I try to open a stream on the log I get this error: ffmpeg exited with code: 1 and signal: null (Error) "camera name XXX"

What could be the possible reason for this error?

[2020-09-26 07:31] beele commented on #62
@alezanott Can you try with the latest beta:
`sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.3-beta.8`

[2020-09-26 07:32] beele commented on #39
@crxporter @mikestecker Can you try with the latest beta, I've added support for two way audio.
`sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.3-beta.8`

Note that it is untested since I do not own a camera that can do this.

[2020-09-26 07:58] beele commented on #70
@JJJ Can you try with the latest beta, I've reworked how video streams are handled.
`sudo npm i -g --unsafe-perm=true homebridge-unifi-protect-camera-motion@0.4.3-beta.8`

[2020-09-26 08:06] beele commented on #65
Closing due to inctivity

[2020-09-26 08:06] #65 closed

[2020-09-26 08:06] beele commented on #66
Closing due to inactivity

[2020-09-26 08:06] #66 closed

[2020-11-02 22:16] alezanott commented on #62
@beele have tried but nothing changed :-(

[2020-11-18 06:31] BadgerBadgerAndFox commented on #62
@beele looks like the issue with the snapshots stopping after a period of time is UnifiOS related, i have updated my CK2+ to the UnifiOS beta and am now seeing this issue.

UniFi Cloud Key Firmware 2.0.19
UniFi Protect 1.16.3-beta.2
Homebridge.io v1.2.3 on RPi3
homebridge-unifi-protect-camera-motion@0.4.3-beta.8

Debugging is enabled, will try and grab them when i see the issue.

[2021-03-27 23:13] alezanott opened #81 "Unifi protect port & RTSP port"
Since the latest update to UniFi Protect it seems that something has changed regarding the port used by the controller. Now after the IP address of the controller you don't find no more the `7443` port, but instead `/protect`. It seems that this creates an issue in the configuration of the plugin, currently running on the latest version of Homebridge. Regarding the RTSP stream, up to now it can be

[2021-04-02 06:36] beele commented on #81
Hi @alezanott, can you try with the latest beta version? I'm running that and have no issues.
https://www.npmjs.com/package/homebridge-unifi-protect-camera-motion/v/0.4.3-beta.12

[2021-04-25 20:36] alezanott commented on #81
Still no clue whats wrong @beele . I have also enabled the verbose mode to understand better what is not working but the plugin just tell me that the configuration is not valid. I have upgraded to the last beta version. I think that the issue is maybe caused by the port that has changed for the UniFi controller part.

[2021-04-25 21:37] alezanott commented on #81
Hi @beele, solved! UniFi was not working properly. Had just upgraded the firmware of my CK+ a while ago and now works everything fine on the new beta version of the plugin.

[2021-05-03 08:10] #81 closed

[2021-05-03 08:11] beele commented on #21
This is now available with the 0.4.3 release

[2021-05-03 08:11] #21 closed

[2021-05-12 20:28] VeniceNerd opened #83 "RTSP Quality Settings"
I know we have three possible options for our RTSP stream: low, medium, and high. But I'm wondering if there is a way to change the settings for these somewhere in the Unifi system? My "high"RTSP stream seems to be stuck at 4K @ 15fps for my G4 Pro's.

Is it possible to change the profiles? Would also be nice to weak the bitrates for the RTSP streams.

Thanks!

[2021-05-22 13:59] Tekklab opened #84 "No motion sensor alerts with/without Coco"
My installation on my Pi4 went without any issues using the the commands from plugin page.
The plugin starts as expected and find the streams etc. The stream is displayed without any issues in homekit.
BUT I dont get any motion event triggered by the plugin in homekit. I tried the "standard config" from the tool with AI, changed to the "basic method", nothing. The event is showing in the unifi pro

[2021-06-10 12:59] Calimerorulez opened #87 "Can't view live stream when tapping camera"
Hi,

When I tap a camera in Homekit, the plugin generates the following error/warning:

[code]

The camera view isn't updated, and only shows a spinning wheel. When I go back to the main Homekit view, the camera is updated normally, every 10 seconds again.

Using Protect 1.19.0-beta.10, node v14.17.0, npm v6.14.13, latest Homebridge, and latest plugin version.

[2021-06-17 21:34] #84 closed

[2021-06-17 21:36] Tekklab commented on #84
project is dead, now using homebridge-unifi-protect adapter, working wihtout any issues with same config

[2021-07-12 18:29] jinie commented on #87
The latest version has some kind of dependency of Mqtt, so if you're not using mqtt it will fail. Downgrade to the previous version and it works fine. I'm using 0.4.3.

[2021-07-20 11:30] maloo0 commented on #87
Same issue here. Downgrade to 0.4.3 didn‘t help unfortunately.

The stream is not working on iPhones. But on iPad it‘s working. Don‘t know why.
Does anyone have an idea?

[2021-08-01 16:14] WiehanVanNiekerk opened #89 "Issue installing"
**Describe the bug**
I can get this working with a udm pro setup and hoobs on raspberry pi.

**Specifications**
- Raspberry pi 3
-  UDM Pro (For PROTECT)
-  G3 Flex Camera
- Hoobs

[2021-08-01 16:28] WiehanVanNiekerk commented on #89
This is my error: W tensorflow/core/framework/allocator.cc:107] Allocation of 8640000 exceeds 10% of system memory.

[2021-08-01 19:53] scottrus opened #90 "Fails to load without MQTT configured"
https://github.com/beele/homebridge-unifi-protect-camera-motion/blob/6198567ebec047800109e0e1d715560693dd878c/src/utils/mqtt.ts#L16

I'm guessing we need to update this test with `if (!config || !config.mqtt_enabled) {`

[2021-08-13 06:42] BadgerBadgerAndFox commented on #90
Seeing the same, MQTT disabled results in the following:

[13/08/2021, 16:36:56] [Unifi protect cameras & motion sensors] VIDEO PROCESSOR: /usr/local/lib/node_modules/homebridge-unifi-protect-camera-motion/node_modules/ffmpeg-for-homebridge/ffmpeg

/usr/local/lib/node_modules/homebridge-unifi-protect-camera-motion/src/utils/mqtt.js:35
                if (this.client.connected) {

[2021-09-14 13:33] Timdebruijn opened #94 "Unexpected token < in JSON at position 1"
**Describe the bug**
Homebridge can't access API

**Specifications**
What hardware and OS is your Homebridge running on?
A VM in VMware ESXI7, i5-8500T, 2GB ram, Ubuntu 20.04, Home bridge v1.3.4, homebridge-unifi-protect-camera-motion v0.4.5
The Unifi hardware:
Cloud Key Gen2 Plus, firmware 2.1.11, protect 1.19.0

**Logging**

[9/14/2021, 1:30:25 PM] ---
[9/14/2021, 1:30:25 PM] Loaded plugin: home

[2021-09-23 16:22] omrd commented on #90
Has anyone figured out a solution to this? I'm also getting the same error.

[2021-10-02 03:17] myevit opened #96 "Install failed. Homebridge in docker with /homebridge mapped to host drive folder"
Running truenas scale. having issues with installing plugin.
install without mounting /homebridge outside the docker is working ok.
Other modules are installing correctly.

[code]

[2021-10-30 06:36] beele commented on #89
Hoobs is not supported, and the error is a warning and can be ignored

[2021-10-30 06:36] #89 closed

[2021-10-30 06:43] beele commented on #39
Tested this with a unifi g3 instant and this works

[2021-10-30 06:43] #39 closed

[2021-10-30 06:43] #70 closed

[2021-10-30 06:44] #90 closed

[2021-10-30 07:04] beele commented on #90
Should be fixed wit 0.4.6

[2021-10-30 07:04] beele commented on #87
should be fixed with 0.4.6

[2021-10-30 07:04] #87 closed

[2021-10-30 07:06] beele commented on #96
you are missing a dependency: Package 'pixman-1', required by 'virtual:world', not found

[2021-10-30 07:38] beele commented on #94
I'm also using UnifiOs and cannot reproduce this issue

[2021-12-25 18:44] alezanott opened #98 "Issue when running"
Since the last restart of my Raspberry i continue to get this error
[code]
I'm running Node JS v14.18.2 - npm v6.14.15

What can cause this kind of error? @beele can you help me?

[2022-01-06 10:55] udotrautmann commented on #98
Hello,

I ' m getting this error too.

Thanks for any help

[2022-01-08 01:53] nstefanelli commented on #98
Seeing the same error on my side

[2022-01-08 02:00] nstefanelli commented on #90
Seems to persist in 0.4.7, any thoughts?

[2022-01-08 06:43] #98 closed

[2022-01-08 06:44] beele commented on #98
Should be fixed in 0.4.8

[2022-01-09 07:52] beele commented on #90
Should be fixed with #89

[2022-01-26 17:42] #96 closed

[2022-01-26 17:42] #62 closed

[2022-02-09 20:08] mexxBf opened #100 "Problems starting with installed Plugin"
Hi,
i'm unable to start homebridge as soon as I have installed the plugin to a freshly started docker of Homebridge. The only plugin running is Homebridge UI.

I'm running the uznu/Homebridge docker image from the docker hub. No changes except I was desperate and deleted the dummy plugin. The config I used was copied the one provided in the readme. But I also tried to configure it on my own.

Sadl

[2022-04-05 23:06] advil01 commented on #100
Also seeing the same issue, had to uninstall plugin because of it

[2022-04-30 10:29] aje89 opened #102 "Error: No "exports" main defined"
I´m note able to use this plugin.
I receive folowing error:

[4/30/2022, 12:27:41 PM] ====================
[4/30/2022, 12:27:41 PM] ERROR LOADING PLUGIN homebridge-unifi-protect-platform:
[4/30/2022, 12:27:41 PM] Error: No "exports" main defined in /homebridge/node_modules/homebridge-unifi-protect-platform/node_modules/fetchit/package.json
    at new NodeError (node:internal/errors:371:5)
    at t

[2022-11-25 17:52] PejHod opened #105 "Post-install scripts error: Automattic removed Canvas v2.9.3"
**Describe the bug**
Automattic removed the 2.9.3 version of Canvas, causing post-install scripts error:

**Specifications**
Running Homebridge 1.5.0 on Cloud Key Gen2 Plus